<h1 class="govgr-heading-sm">Διαχείριση Προσβάσεων Χρηστών</h1>

<div class="govgr-body">
    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="users"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="50"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        class="ag-theme-balham"></ag-grid-angular>
</div>
