<h1 class="govgr-heading-md">Εξοπλισμός Ελληνικού Δημοσίου</h1>

@if (hasEquipmentAdminRole() || hasEquipmentEditorRole()) {
  <h4 class="govgr-heading-sm">Οι προσβάσεις σας</h4>

  <p class="govgr-body">
    Στους παρακάτω πίνακες εμφανίζονται οι φορείς που έχετε πρόσβαση και οι επιτρεπτές ενέργειες.
  </p>

  <h5 class="govgr-heading-md d-flex align-items-center gap-2">
    Φορείς
    @if (!organizations) {
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </h5>

  @if (organizations.length > 0) {
  <div class="d-flex flex-column flex-lg-row gap-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Κωδικός</th>
          <th scope="col">Ονομασία</th>
          <th scope="col">Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        @for (organization of organizations; track organization) {
        <tr class="align-middle">
          <td>{{ organization.code }}</td>
          <td>{{ organization.preferredLabel }}</td>
          <td class="d-flex gap-2 fs-5">
            <i class="bi bi-info-circle" role="button" (click)="showOrganizationDetails(organization.code)"
              ngbTooltip="Στοιχεία Φορέα"></i>
            <i class="bi bi-building" role="button" (click)="showEquipments(organization.code)"
              ngbTooltip="Εμφάνιση Εξοπλισμού"></i>  
            <i class="bi bi-pencil-square" role="button" (click)="newEquipment(organization)"
              ngbTooltip="Νέος Εξοπλισμός"></i> 
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
    <div class="alert alert-info w-25 mb-4 text-center fw-semibold" role="alert">
      Δεν έχετε πρόσβαση σε φορείς.
    </div>
  }
}

@if (showGridEquipment){
  <div class="mt-5 mb-5">
    <ag-grid-angular 
      [domLayout]="'autoHeight'" 
      [rowData]="equipments" 
      [defaultColDef]="defaultColDef"
      [columnDefs]="equipmentColDefs" 
      [pagination]="true" 
      [paginationPageSize]="20"
      [loadingOverlayComponent]="loadingOverlayComponent" 
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      (gridReady)="onGridEquipmentReady($event)" 
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
}
<div class="mt-5 mb-5">
  @if(showForm) {
  <form [formGroup]="form">
    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Στοιχεία Φορέα:</legend>

      <div class="row mb-3">
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="organization">
        </div>

        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="organizationCode">
        </div>
      </div>

      <div class="mb-3">
        @if(showGrid) {
          <div class="d-flex justify-content-between mb-1">
            <p class="h5 mb-3">Κατάσταση Χώρων Φορέα</p>
          </div>
          
          <ul>
            @for (unit of selectedSpaces; track unit ){
              <li><strong>Ακίνητο: </strong>{{ unit["spaces"]["spaceName"] }}</li>
            }
          </ul>

          <div class="d-flex justify-content-between small">
            <div>
                <span>Eπιλέξτε τους χώρους που επιθυμείτε για το νέο εξοπλισμό</span>
            </div>
            <div *ngIf="selectedSpaces.length > 0">
              <button class="btn btn-danger btn-sm mb-1" (click)="clearSelections()">Καθάρισμα επιλογών</button>
            </div>
          </div>
          <ag-grid-angular 
            [domLayout]="'autoHeight'" 
            [rowData]="spaces" 
            [defaultColDef]="defaultColDef"
            [columnDefs]="spaceColDefs" 
            [pagination]="true" 
            [paginationPageSize]="20"
            [loadingOverlayComponent]="loadingOverlayComponent" 
            [loadingOverlayComponentParams]="loadingOverlayComponentParams"
            rowSelection="multiple"
            (rowSelected)="onRowSelected($event)" 
            (gridReady)="onGridReady($event)" 
            class="ag-theme-balham">
          </ag-grid-angular>
        }
      </div>
    </fieldset>

    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Στοιχεία εξοπλισμού:</legend>
      <div class="row mb-3">
        
        <div class="col-sm-4">
          <select class="form-select" aria-label="Default select example" formControlName="type"
            (change)="onTypeChange($event)">
            <option value="" disabled selected>
              Επιλέξτε υποκατηγορία
            </option>
            @for (item of type; track item) {
              <option [ngValue]="item">{{ item }}</option>
            }
          </select>
        </div>

        @if (kind.length > 0) {
          <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example" formControlName="kind"
              (change)="onKindChange($event)">
              <option value="" disabled selected>
                Επιλέξτε είδος
              </option>
              @for (item of kind; track item) {
                <option [ngValue]="item">{{ item }}</option>
              }
            </select>
          </div>
        }

        @if (category.length > 0) {
          <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example" formControlName="category"
              (change)="onCategoryChange($event)">
              <option value="" disabled selected>
                Επιλέξτε τύπος
              </option>
              @for (item of category; track item) {
                <option [ngValue]="item">{{ item }}</option>
              }
            </select>
          </div>
        }        
      </div>

      @if (values.length > 0) {
        <div formArrayName="values">
          <div *ngFor="let v of valuesFormArray.controls let i = index" [formGroupName]="i" class="row mb-3">
            <div class="col-sm-4">
              <label class="form-label">{{ v.get('description').value }} ({{ v.get('info').value }})</label>
            </div>
            <div class="col-sm-4">
              @if (v.get('description').value == "Άλλο (προσδιορίστε)"){
                <textarea formControlName="value" cols="10" rows="10" class="form-control"></textarea>
              } @else {
              <input class="form-control" type="text" placeholder="Πληκτρολογήστε τιμή" formControlName="value">
            }
            </div>
          </div>
        </div>
      }
    </fieldset>

    <div class="d-flex gap-2">
      <button
        type="button" 
        class="btn btn-primary"
        [disabled]="form.invalid"
        (click)="submitForm()"
      >
        Υποβολή
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="resetForm()">
          Καθάρισμα
      </button>
    </div>
  </form>
  }
</div>