<div class="d-flex justify-content-between m-3">
    <span class="h5">Κείμενο Εγκύκλιας Οδηγίας</span>
    <button type="button" class="btn-close" (click)="modalRef.dismiss()"></button>
</div>

<div class="modal-body">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <span class="fw-semibold">{{ instructionProvision.instructionActKey ? instructionProvision.instructionActKey : instructionProvision["instructionAct"]["instructionActKey"] }}</span>

            <table class="w-50">
                <tr>
                    <th *ngIf="instructionProvision.instructionProvisionSpecs.arthro" class="text-center">
                        Άρθρο
                    </th>
                    <th *ngIf="instructionProvision.instructionProvisionSpecs.paragrafos" class="text-center">
                        Παράγραφος
                    </th>
                    <th *ngIf="instructionProvision.instructionProvisionSpecs.edafio" class="text-center">
                        Εδάφιο
                    </th>
                </tr>
                <tr>
                    <td *ngIf="instructionProvision.instructionProvisionSpecs.arthro" class="text-center">
                        {{ instructionProvision.instructionProvisionSpecs.arthro }}
                    </td>
                    <td *ngIf="instructionProvision.instructionProvisionSpecs.paragrafos" class="text-center">
                        {{ instructionProvision.instructionProvisionSpecs.paragrafos }}
                    </td>
                    <td *ngIf="instructionProvision.instructionProvisionSpecs.edafio" class="text-center">
                        {{ instructionProvision.instructionProvisionSpecs.edafio }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body" [innerHTML]="instructionProvision.instructionProvisionText"></div>
    </div>
</div>