<div class="card mb-4">
    <div class="card-header d-flex justify-content-between mb-2">
      <span class="fw-semibold">Συχνές ερωτήσεις</span>
    </div>

    @if (!publishedQuestions) {
        <div class="p-2">Δεν υπάρχουν στοιχεία</div>
    } @else {
        <div class="govgr-body">
            <ag-grid-angular
                [domLayout]="'autoHeight'"
                [rowData]="publishedQuestions"
                [defaultColDef]="defaultColDef"
                [columnDefs]="colDefs"
                [pagination]="true"
                [paginationPageSize]="50"
                [loadingOverlayComponent]="loadingOverlayComponent"
                [loadingOverlayComponentParams]="loadingOverlayComponentParams"
                (gridReady)="onGridReady($event)"
                (rowClicked)="onRowClicked($event)"
                class="ag-theme-balham"></ag-grid-angular>
        </div>
    }

</div>