<div class="govgr-bottom">
    <footer class="govgr-footer">
        <div class="p-0">
            <div class="govgr-footer__meta">
                <div class="govgr-footer__meta-item govgr-footer__meta-item--grow">
                    <div class="govgr-footer__content">
                        <p class="govgr-footer__licence-description d-flex flex-column">
                            <span class="fw-semibold">Υπουργείο Εσωτερικών &mdash; Πολυεπίπεδη Διακυβέρνηση</span>
                            <span class="small">
                                Υλοποίηση από το
                                <a
                                    href="http://dtclab.civil.ntua.gr"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="govgr-link text-truncate">
                                    Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα
                                </a>
                            </span>
                            <span class="small">για το Υπουργείο Εσωτερικών</span>
                        </p>
                    </div>
                </div>
                <div class="govgr-footer__meta-item d-none d-lg-inline">
                    <img
                        class="govgr-footer__government-logo"
                        src="/assets/img/goverment.svg"
                        alt="government logo" />
                </div>
            </div>
        </div>
    </footer>
</div>
