<nav class="govgr-nav--horizontal" style="margin-left: 3em">
    <ul class="govgr-nav__list">
        <a
            routerLink="search"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Αναζήτηση
        </a>
        <a
            routerLink="foreis"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Φορείς
        </a>
        <a
            routerLink="monades"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Μονάδες
        </a>
        <a
            routerLink="nomikes-praxeis"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Νομικές Πράξεις
        </a>
        <a
            routerLink="diataxeis"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Διατάξεις
        </a>
        <a
            routerLink="armodiothtes"
            class="govgr-nav__list-item-link"
            routerLinkActive="govgr-nav__list-item-link--active"
        >
            Αρμοδιότητες</a
        >
    </ul>
</nav>
