<h4 class="govgr-heading-md">Συγκριτικά στοιχεία για Φορείς, Μονάδες, Αρμοδιότητες</h4>

<div class="mt-4">
    <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Σύγκριση δύο Φορέων ως προς τον αριθμό Μονάδων ανά ιεραρχικό επίπεδο</h1>
    
    <ul>
        @for (unit of selectedDataMatrix1; track unit ){
            <li><strong>Φορέας: </strong>{{ unit.preferredLabel }}</li>
        }
    </ul>
   
    <div class="d-flex justify-content-between small">
        <div>
            <span>Eπιλέξτε φορείς που επιθυμείτε να συγκρίνετε</span>
        </div>
        <div>
            <button class="btn btn-danger btn-sm mb-1" (click)="clearSelectionMatrix1()">Καθάρισμα επιλογών</button>
        </div>
    </div>

    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="foreis"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs_Matrix1"
        [pagination]="true"
        [paginationPageSize]="10"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        rowSelection="multiple"
        (rowSelected)="onRowSelected_Matrix1($event)"
        (gridReady)="onGridReady_Matrix1($event)"
        class="ag-theme-balham"></ag-grid-angular>

    @if(showTable1){   
    <div class="mt-4">
        <h1 class="govgr-heading-sm">Σύγκριση δύο Φορέων ως προς τον αριθμό Μονάδων ανά ιεραρχικό επίπεδο</h1>
        
        <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportMatrix1()" [disabled]="!showTable1">Εξαγωγή στοιχείων σε Excel</button>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Φορείς</th>
                    <th>ΓΕΝΙΚΗ ΓΡΑΜΜΑΤΕΙΑ</th>
                    <th>ΕΙΔΙΚΗ ΓΡΑΜΜΑΤΕΙΑ</th>
                    <th>ΓΕΝΙΚΗ ΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΥΠΟΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΤΜΗΜΑ</th>
                    <th>ΓΡΑΦΕΙΟ</th>
                    <th>ΑΛΛΟ</th>
                </tr>
            </thead>
            <tbody>
                @for (forea of selectedDataMatrix1; track forea ){
                    <tr>
                        <td>{{forea.preferredLabel}}</td> 
                        <td>{{ showMatrixData1(forea.code, "ΓΕΝΙΚΗ ΓΡΑΜΜΑΤΕΙΑ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΕΙΔΙΚΗ ΓΡΑΜΜΑΤΕΙΑ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΓΕΝΙΚΗ ΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΥΠΟΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΤΜΗΜΑ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΓΡΑΦΕΙΟ") }}</td>
                        <td>{{ showMatrixData1(forea.code, "ΑΛΛΟ") }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }

    @if(showError1){   
      <div class="mt-4">
          <h1 class="govgr-heading-sm">Σύγκριση δύο Φορέων ως προς τον αριθμό Μονάδων ανά ιεραρχικό επίπεδο</h1>
           <p>Δεν υπάρχουν δεδομένα από τα πηγαία στοιχεία της ΑΠΟΓΡΑΦΗΣ</p>
      </div>
    }
</div>

<div class="text-success mt-4">
    <hr>
</div>
  
<div class="mt-4">
    <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Σύγκριση δύο ομοειδών Μονάδων ως προς τον αριθμό των υπομονάδων τους</h1>

    <ul>
        @for (unit of selectedDataMatrix2; track unit ){
            <li><strong>Φορέας: </strong>{{unit.organization}}, <strong>Μονάδα: </strong>{{unit.preferredLabel}}</li>
        }
    </ul>

    <div class="d-flex justify-content-between small">
        <div>
            <span>Eπιλέξτε τις μονάδες που επιθυμείτε να συγκρίνετε</span>
        </div>
        <div>
            <a (click)="clearSelectionMatrix2()" class="btn btn-danger btn-sm mb-1" role="button">Καθάρισμα επιλογών</a>
        </div>
    </div>

    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="monades"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs_Matrix2"
        [pagination]="true"
        [paginationPageSize]="10"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        rowSelection="multiple"
        (rowSelected)="onRowSelected_Matrix2($event)"
        (gridReady)="onGridReady_Matrix2($event)"
        class="ag-theme-balham"></ag-grid-angular>

    @if(showTable2){   
    <div class="mt-4">
        <h1 class="govgr-heading-sm">Σύγκριση δύο ομοειδών Μονάδων ως προς τον αριθμό των υπομονάδων τους</h1>
        
        <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportMatrix2()" [disabled]="!showTable2">Εξαγωγή στοιχείων σε Excel</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Μονάδα</th>
                    <th>ΓΕΝΙΚΗ ΓΡΑΜΜΑΤΕΙΑ</th>
                    <th>ΕΙΔΙΚΗ ΓΡΑΜΜΑΤΕΙΑ</th>
                    <th>ΓΕΝΙΚΗ ΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΥΠΟΔΙΕΥΘΥΝΣΗ</th>
                    <th>ΤΜΗΜΑ</th>
                    <th>ΓΡΑΦΕΙΟ</th>
                    <th>ΑΛΛΟ</th>
                </tr>
            </thead>
            <tbody>
                @for (unit of selectedDataMatrix2; track unit ){
                    <tr>
                        <td>{{unit.preferredLabel}}</td> 
                        <td>{{ showMatrixData2(unit.code, "ΓΕΝΙΚΗ ΓΡΑΜΜΑΤΕΙΑ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΕΙΔΙΚΗ ΓΡΑΜΜΑΤΕΙΑ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΓΕΝΙΚΗ ΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΥΠΟΔΙΕΥΘΥΝΣΗ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΤΜΗΜΑ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΓΡΑΦΕΙΟ") }}</td>
                        <td>{{ showMatrixData2(unit.code, "ΑΛΛΟ")}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }

    @if(showError2){   
      <div class="mt-4">
          <h1 class="govgr-heading-sm">Σύγκριση δύο ομοειδών Μονάδων ως προς τον αριθμό των υπομονάδων τους</h1>
           <p>Δεν υπάρχουν δεδομένα από τα πηγαία στοιχεία της ΑΠΟΓΡΑΦΗΣ</p>
      </div>
    }
</div>

<div class="text-success mt-4">
    <hr>
</div>
  
<div class="mt-4">
  <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Σύγκριση των αρμοδιοτήτων δύο Μονάδων</h1>

  <ul>
    @for (row of selectedDataMatrix3; track row ){
      <li><strong>Φορέας: </strong>{{row.organizationLabel}}, <strong>Μονάδα: </strong>{{row.organizationUnitLabel}}</li>
    }
  </ul>

  <div class="d-flex justify-content-between small">
    <div>
      <span>Eπιλέξτε τις μονάδες που επιθυμείτε να συγκρίνετε <strong>(μέχρι δύο επιλογές)</strong></span>
    </div>
    <div>
      <a (click)="clearSelectionMatrix3()" class="btn btn-danger btn-sm mb-1" role="button">Καθάρισμα επιλογών</a>
    </div>
  </div>

  <ag-grid-angular
    [domLayout]="'autoHeight'"
    [rowData]="remits"
    [defaultColDef]="defaultColDef"
    [columnDefs]="colDefs_Matrix3"
    [pagination]="true"
    [paginationPageSize]="10"
    [loadingOverlayComponent]="loadingOverlayComponentRemit"
    [loadingOverlayComponentParams]="loadingOverlayComponentParamsRemit"
    rowSelection="multiple"
    (rowSelected)="onRowSelected_Matrix3($event)"
    (gridReady)="onGridReady_Matrix3($event)"
    (filterChanged)="onFilterChanged($event)"
    class="ag-theme-balham">
  </ag-grid-angular>

    @if(showTable3){   
      <div class="mt-4">
        <h1 class="govgr-heading-sm">Σύγκριση όλων των αρμοδιοτήτων δύο Μονάδων και με κριτήριο αναζήτησης</h1>
        
        <div class="d-flex align-items-center gap-2 mb-3">
          <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportMatrix3CSV()" [disabled]="!showTable3">Εξαγωγή σε CSV</button>
          <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportMatrix3Excel()" [disabled]="!showTable3">Εξαγωγή σε Excel</button>
          @if (loading) {
            <span class="d-flex align-items-center gap-2">
              Αναμονή αποτελεσμάτων...
              <span
                class="spinner-border text-primary"
                role="status">
                <span class="visually-hidden">Loading...</span>
              </span>
            </span>
            }
        </div>

        <div class="d-flex gap-3">
          @if (selectedDataMatrix3.length>=1){
            <div class="flex-fill">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <strong>{{selectedDataMatrix3[0]["organizationLabel"]}}</strong><br>
                      <em>{{selectedDataMatrix3[0]["organizationUnitLabel"]}}</em>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (row of matrixData3; track row ){
                    @if (row.organizationalUnitCode === selectedDataMatrix3[0]["organizationalUnitCode"]){
                      <tr>
                        <td><div [innerHTML]="row.remitText"></div></td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
          }
          @if (selectedDataMatrix3.length>=2){
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <strong>{{selectedDataMatrix3[1]["organizationLabel"]}}</strong><br>
                      <em>{{selectedDataMatrix3[1]["organizationUnitLabel"]}}</em>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (row of matrixData3; track row ){
                    @if (row.organizationalUnitCode === selectedDataMatrix3[1]["organizationalUnitCode"]){
                      <tr>
                        <td><div [innerHTML]="row.remitText"></div></td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
          }
        </div>
      </div>
    }

    @if(showError3){   
      <div class="mt-4">
          <h1 class="govgr-heading-sm">Σύγκριση όλων των αρμοδιοτήτων δύο Μονάδων και με κριτήριο αναζήτησης</h1>
          <p>Δεν εμφανίζονται αποτελέσματα καθώς τα ζητούμενα στοιχεία είναι πηγαία στοιχεία της ΑΠΟΓΡΑΦΗΣ τα οποία δεν έχουν συμπληρωθεί από τους χρήστες της εφαρμογής της απογραφής</p>
      </div>
    }
</div>