<h1 class="govgr-heading-sm">Φορείς του Ελληνικού Δημοσίου</h1>

<div class="d-flex justify-content-between">
  <span class="small">Ανοίξτε την καρτέλα του φορέα με διπλό κλικ πάνω στο κελί</span>
  <button (click)="resetGridState()" class="btn btn-primary btn-sm mb-2">
      Καθάρισμα επιλογών
  </button>
</div>

<ag-grid-angular
  class="ag-theme-balham"
  style="height: 80vh"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [rowModelType]="'infinite'"
  [pagination]="true"
  [paginationPageSize]="100"
  (gridReady)="onGridReady($event)"
  (filterChanged)="onFilterChanged()"
  (sortChanged)="onSortChanged()"
  (columnMoved)="onColumnStateChanged()"
  (columnVisible)="onColumnStateChanged()"
  (columnPinned)="onColumnStateChanged()"
  (cellDoubleClicked)="onCellClicked($event)">
</ag-grid-angular>

<!-- OLD Code -->
<!-- <ag-grid-angular
    [domLayout]="'autoHeight'"
    [rowData]="foreis"
    [defaultColDef]="defaultColDef"
    [columnDefs]="colDefs"
    [pagination]="true"
    [paginationPageSize]="20"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    (cellDoubleClicked)="onCellClicked($event)"
    (gridReady)="onGridReady($event)"
    class="ag-theme-balham"></ag-grid-angular> -->
