<div class="d-flex justify-content-between m-3">
  <span class="h5">Ψηφιοποίηση του Κώδικα των ΟΤΑ</span>
  <button type="button" class="btn-close" (click)="modalRef.dismiss()">
  </button>
</div>

<div class="modal-body">
  <div class="mb-3 mt-3 p-2">
    <form [formGroup]="form" class="container mt-4">

      @if (legalProvisions.length) {
        <div class="mb-3">
          <label class="form-label">
            Περιεχόμενο αρμοδιότητας:
            @if (showInfoText) {
              <div class="mt-2" [innerHTML]="sanitizeHtml(showInfoText)"></div>
            }
          </label>
          <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
              <ngx-editor [editor]="editor" formControlName="remitText"></ngx-editor>
            </div>
            @if (form.controls.remitText.touched && form.controls.remitText.invalid) {
            <div class="invalid-feedback">Το πεδίο είναι υποχρεωτικό</div>
            }
        </div>
      
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Φορέας άσκησης αρμοδιότητας:</label>
            <select formControlName="remitCompetence" class="form-select">
              <option value="" disabled>-- Επιλογή --</option>
              @for (name of remitCompetences; track name) {
                <option [value]="name">{{ name }}</option>
              }
            </select>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Τύπος αρμοδιότητας:</label>
            <select formControlName="remitType" class="form-select">
              <option value="" disabled>-- Επιλογή --</option>
              @for (name of remitTypes; track name) {
                <option [value]="name">{{ name }}</option>
              }
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label" for="remitLocalOrGlobal">Αυτοδιοικητική Αρμοδιότητα:</label>
            <select formControlName="remitLocalOrGlobal" id="remitLocalOrGlobal" class="form-select">
              <option value="" disabled>-- Επιλογή --</option>
              <option value="Αυτοδιοικητική Αρμοδιότητα (Τοπική)">Αυτοδιοικητική Αρμοδιότητα (Τοπική)</option>
              <option value="Αρμοδιότητα που συνιστά αποστολή του κράτους (Κρατική)">Αρμοδιότητα που συνιστά αποστολή του κράτους (Κρατική)</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="cofog1" class="form-label">
              Λειτουργική Περιοχή COFOG:
            </label>
            <select class="form-select"
              [class.is-invalid]="form.controls.cofog1.touched && form.controls.cofog1.invalid"
              aria-label="Default select example" id="cofog1" formControlName="cofog1">
              <option value="" disabled selected>
                Επιλέξτε Λειτουργική Περιοχή COFOG
              </option>
              @for (cofog of cofog1; track $index) {
              <option [ngValue]="cofog.code">{{ cofog.code }}. {{ cofog.name }}</option>
              }
            </select>
            @if (form.controls.cofog1.touched && form.controls.cofog1.invalid) {
            <div class="invalid-feedback">Το πεδίο είναι υποχρεωτικό</div>
            }
          </div>
        </div>

        @if (cofog1_selected) {
          <div class="mb-3 d-flex gap-3">
            <div class="w-50">
              <label for="cofog2" class="form-label">
                Λειτουργικός Τομέας COFOG:
              </label>
              <select class="form-select"
                [class.is-invalid]="form.controls.cofog2.touched && form.controls.cofog2.invalid"
                aria-label="Default select example" id="cofog2" formControlName="cofog2">
                <option value="" disabled selected>
                  Επιλέξτε Λειτουργικό Τομέα COFOG
                </option>
                @for (cofog of cofog2; track $index) {
                  <option [ngValue]="cofog.code">{{ cofog.code }}. {{ cofog.name }}</option>
                }
              </select>
              @if (form.controls.cofog2.touched && form.controls.cofog2.invalid) {
                <div class="invalid-feedback">Το πεδίο είναι υποχρεωτικό</div>
              }
            </div>
            @if (cofog2_selected) {
              <div class="w-50">
                <label for="cofog3" class="form-label">
                  Θεματική Περιοχή COFOG:
                </label>
                <select class="form-select"
                  [class.is-invalid]="form.controls.cofog3.touched && form.controls.cofog3.invalid"
                  aria-label="Default select example" id="cofog3" formControlName="cofog3">
                  <option value="" disabled selected>
                    Επιλέξτε Θεματική Περιοχή COFOG
                  </option>
                  @for (cofog of cofog3; track $index) {
                  <option [ngValue]="cofog.code">{{ cofog.code }}. {{ cofog.name }}</option>
                  }
                </select>
                @if (form.controls.cofog3.touched && form.controls.cofog3.invalid) {
                <div class="invalid-feedback">Το πεδίο είναι υποχρεωτικό</div>
                }
              </div>
            }
          </div>
        }
      }
      
      <div class="mb-3">
        <div class="mb-3 d-flex flex-column">
          <label class="form-label d-flex justify-content-between">
            <span>
              @if (legalProvisions.length === 1) {
              Διάταξη
              } @else {
              Διατάξεις
              }
              Πρόβλεψης Κώδικα:
            </span>

            <button type="button" class="btn btn-primary btn-sm" (click)="newLegalProvision()">
              Προσθήκη Διάταξης
            </button>
          </label>
          <app-list-legal-provisions [legalProvisions]="legalProvisions" [code]=""
            [remitID]="ota?._id" [provisionType]="'ota'" [actionColumnVisible]="ota !== null">
          </app-list-legal-provisions>
        </div>
      </div>

       @if (legalProvisions.length) {
        <div class="mb-3">
          <div class="mb-3 d-flex flex-column">
            <label class="form-label d-flex justify-content-between">
              <span>
                @if (instructionProvisions.length === 1) {
                Εγκύκλια Οδηγία:
                } @else {
                Εγκύκλιες Οδηγίες:
                }                
              </span>

              <button type="button" class="btn btn-primary btn-sm"
                (click)="newInstructionProvision()">
                Προσθήκη Εγκύκλιας Οδηγίας
              </button>
            </label>
            <app-list-instruction-provisions [instructionProvisions]="instructionProvisions" [code]=""
              [remitID]="ota?._id" [provisionType]="'ota_instructions'" [actionColumnVisible]="ota !== null">
            </app-list-instruction-provisions>
          </div>
        </div>
       }

      @if (legalProvisions.length) {
      
        <div class="mb-3">
          <label class="form-label d-flex justify-content-between">Πίνακας Επιλογής Φορέα και Μονάδας Δημόσιας Πολιτικής</label>

          <ul>
            @for (unit of gridSelectedData; track unit ){
              <li><strong>Φορέας Δημόσιας Πολιτικής: </strong>{{unit.preferredLabel}}, <strong>Εποπτεύουσα Αρχή: </strong>{{unit.subOrganizationOf}}</li>
            }
          </ul>

          <div class="d-flex justify-content-between small">
            <div>
              <span>Eπιλέξτε τους φορείς/μονάδες που επιθυμείτε</span>
            </div>
            <div>
              <a (click)="clearSelection()" class="btn btn-danger btn-sm mb-1" role="button">Καθάρισμα επιλογών</a>
            </div>
          </div>

          <ag-grid-angular
            [domLayout]="'autoHeight'"
            [rowData]="foreis"
            [defaultColDef]="defaultColDef"
            [columnDefs]="colDefs"
            [pagination]="true"
            [paginationPageSize]="10"
            [loadingOverlayComponent]="loadingOverlayComponent"
            [loadingOverlayComponentParams]="loadingOverlayComponentParams"
            rowSelection="multiple"
            (rowSelected)="onRowSelected($event)"
            (gridReady)="onGridReady($event)"
            class="ag-theme-balham">
          </ag-grid-angular>
        </div>

        <div class="d-flex gap-2">
          <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!form.valid"
            (click)="onCreate()"
            >Υποβολή</button>
          <button type="button" class="btn btn-secondary" (click)="resetForm()">Καθάρισμα</button>
        </div>
      }
    </form>
  </div>
</div>

<div class="d-flex justify-content-end m-3">
  <button ngbAutofocus type="button" class="btn btn-primary" (click)="modalRef.close()">
    Επιστροφή
  </button>
</div>