<h1 class="govgr-heading-md">Προσωπικό Ελληνικού Δημοσίου</h1>

@if (hasUserResourcesAdminRole() || hasUserResourcesEditorRole()) {
  <h4 class="govgr-heading-sm">Οι προσβάσεις σας</h4>

  <p class="govgr-body">
    Στους παρακάτω πίνακες εμφανίζονται οι φορείς που έχετε πρόσβαση και οι επιτρεπτές ενέργειες.
  </p>

  <h5 class="govgr-heading-md d-flex align-items-center gap-2">
    Φορείς
    @if (!organizations) {
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </h5>

  @if (organizations.length > 0) {
  <div class="d-flex flex-column flex-lg-row gap-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Κωδικός</th>
          <th scope="col">Ονομασία</th>
          <th scope="col">Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        @for (organization of organizations; track organization) {
        <tr class="align-middle">
          <td>{{ organization.code }}</td>
          <td>{{ organization.preferredLabel }}</td>
          <td class="d-flex gap-2 fs-5">
            <i class="bi bi-info-circle" role="button" (click)="showOrganizationDetails(organization.code)"
              ngbTooltip="Στοιχεία Φορέα"></i>

            <i class="bi bi-building" role="button" (click)="showEmployeesGrid(organization)"
              ngbTooltip="Εμφάνιση Προσωπικού"></i>

            <i class="bi bi-pencil-square" role="button" (click)="newEmployee(organization)"
              ngbTooltip="Νέο Προσωπικό"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
    <div class="alert alert-info w-25 mb-4 text-center fw-semibold" role="alert">
      Δεν έχετε πρόσβαση σε φορείς.
    </div>
  }
}

@if (showGrid){
  <div class="mt-5 mb-5">
    <ag-grid-angular 
      [domLayout]="'autoHeight'" 
      [rowData]="employees" 
      [defaultColDef]="defaultColDef"
      [columnDefs]="employeeColDefs" 
      [pagination]="true" 
      [paginationPageSize]="20"
      [loadingOverlayComponent]="loadingOverlayComponent" 
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      (cellClicked)="onCellClicked($event)" 
      (gridReady)="onGridReady($event)" 
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
}

@if (showForm) {
  <div class="mt-5 mb-5">
    <form [formGroup]="form" class="container">

      <!-- Personal Info -->
      <h5 class="mt-4">Προσωπικά Στοιχεία</h5>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Κωδικός</label>
          <input type="text" class="form-control" formControlName="code">
        </div>
        <div class="col-md-4">
          <label class="form-label">Όνομα</label>
          <input type="text" class="form-control" formControlName="firstname" #firstnameField
            [ngClass]="{
              'is-invalid':
                form.get('firstname')?.invalid &&
                (form.get('firstname')?.touched || form.get('firstname')?.dirty)
            }"
          >
        </div>
        <div class="col-md-4">
          <label class="form-label">Επώνυμο</label>
          <input type="text" class="form-control" formControlName="lastname"
            [ngClass]="{
              'is-invalid':
                form.get('lastname')?.invalid &&
                (form.get('lastname')?.touched || form.get('lastname')?.dirty)
            }"
          >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Πατρώνυμο</label>
          <input type="text" class="form-control" formControlName="fathername"
            [ngClass]="{
              'is-invalid':
                form.get('fathername')?.invalid &&
                (form.get('fathername')?.touched || form.get('fathername')?.dirty)
            }"
          >
        </div>
        <div class="col-md-4">
          <label class="form-label">Μητρώνυμο</label>
          <input type="text" class="form-control" formControlName="mothername"
            [ngClass]="{
              'is-invalid':
                form.get('mothername')?.invalid &&
                (form.get('mothername')?.touched || form.get('mothername')?.dirty)
            }"
          >
        </div>
        <div class="col-md-4">
          <label class="form-label">Αριθμός Ταυτότητας/Α.Φ.Μ</label>
          <input type="text" class="form-control" formControlName="identity"
            [ngClass]="{
              'is-invalid':
                form.get('identity')?.invalid &&
                (form.get('identity')?.touched || form.get('identity')?.dirty)
            }"
          >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Ημερομηνία Γέννησης</label>
          <input type="date" class="form-control" formControlName="birthday"
            [ngClass]="{
              'is-invalid':
                form.get('birthday')?.invalid &&
                (form.get('birthday')?.touched || form.get('birthday')?.dirty)
            }"
          >
        </div>
        <div class="col-md-4">
          <label class="form-label">Φύλο</label>
          <select class="form-select" formControlName="sex"
            [ngClass]="{
              'is-invalid':
                form.get('sex')?.invalid &&
                (form.get('sex')?.touched || form.get('sex')?.dirty)
            }"
          >
            <option value="Male">Άνδρας</option>
            <option value="Female">Γυναίκα</option>
          </select>
        </div>
      </div>

      <!-- Specialty -->
      <h5 class="mt-4">Στοιχεία Εργασίας</h5>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Ημερομηνία διορισμού</label>
          <input type="date" class="form-control" formControlName="dateAppointment"
             [ngClass]="{
              'is-invalid':
                form.get('dateAppointment')?.invalid &&
                (form.get('dateAppointment')?.touched || form.get('dateAppointment')?.dirty)
            }"
          >
        </div>
        <div class="col-md-4">
          <label class="form-label">Σχέση Εργασίας</label>
          <input type="text" class="form-control" formControlName="workStatus">
        </div>
        <div class="col-md-4">
          <label class="form-label">Κατηγορία</label>
          <input type="text" class="form-control" formControlName="workCategory">
        </div>
      </div>  
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="form-label">Κλάδος – ειδικότητα</label>
          <input type="text" class="form-control" formControlName="workSector">
        </div>
        <div class="col-md-4">
          <label class="form-label">Φορέας</label>
          <input type="text" class="form-control" formControlName="organization">
        </div>
        <div class="col-md-4">
          <label class="form-label">Οργανική μονάδα</label>
          <input type="text" class="form-control" formControlName="organizationalUnit"
            [ngClass]="{
              'is-invalid':
                form.get('organizationalUnit')?.invalid &&
                (form.get('organizationalUnit')?.touched || form.get('organizationalUnit')?.dirty)
            }"
          >
        </div>
      </div>
      
      <!-- Office & Facility -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Ακίνητο χωροθέτησης</label>
          <input type="text" class="form-control" formControlName="building">
        </div>
        <div class="col-md-6">
          <label class="form-label">Γραφείο χωροθέτησης</label>
          <input type="text" class="form-control" formControlName="office">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Τηλέφωνο Εργασίας</label>
          <input type="text" class="form-control" formControlName="phoneWork">
        </div>
        <div class="col-md-6">
          <label class="form-label">Email Εργασίας</label>
          <input type="email" class="form-control" formControlName="emailWork"
            [ngClass]="{
              'is-invalid':
                form.get('organizationalUnit')?.invalid &&
                (form.get('organizationalUnit')?.touched || form.get('organizationalUnit')?.dirty)
            }"
          >
        </div>
      </div>

      <!-- Qualifications -->
      <h5 class="mt-4">Προσόντα</h5>
      <div formArrayName="qualifications">
        <div *ngFor="let qual of form.get('qualifications')['controls']; let i = index" [formGroupName]="i" class="g-3 align-items-end mb-3 border rounded p-3">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Προσόντα</label>
              <select class="form-select" formControlName="qualification">
                <option value="Απολυτήριο δημοτικού">Απολυτήριο δημοτικού</option>
                <option value="Απολυτήριο γυμνασίου">Απολυτήριο γυμνασίου</option>
                <option value="Απολυτήριο λυκείου/αντίστοιχο">Απολυτήριο λυκείου/αντίστοιχο</option>
                <option value="Βασικός πανεπιστημιακός τίτλος">Βασικός πανεπιστημιακός τίτλος</option>
                <option value="Μεταπτυχιακό">Μεταπτυχιακό</option>
                <option value="Διδακτορικό">Διδακτορικό</option>
                <option value="Επαγγελματική πιστοποίηση">Επαγγελματική πιστοποίηση</option>
                <option value="Πιστοποιητικό/βεβαίωση παρακολούθησης εκπ. προγράμματος">Πιστοποιητικό/βεβαίωση παρακολούθησης εκπ. προγράμματος</option>
                <option value="Πιστοποίηση επαγγελματικής δεξιότητας/ικανότητας">Πιστοποίηση επαγγελματικής δεξιότητας/ικανότητας</option>
                <option value="Ξένες γλώσσες">Ξένες γλώσσες</option>
                <option value="Άλλο-αταξινόμητο">Άλλο-αταξινόμητο</option>
                
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label">Τίτλος/ονομασία προσόντος</label>
              <input type="text" class="form-control" formControlName="qualificationTitle">
            </div>
            <div class="col-md-4">
              <label class="form-label">Φορέας έκδοσης προσόντος</label>
              <input type="text" class="form-control" formControlName="qualificationOrganization">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="form-label">Ημερομηνία κτήσης του προσόντος</label>
              <input type="date" class="form-control" formControlName="date"
                [ngClass]="{
                  'is-invalid':
                    form.get('birthday')?.invalid &&
                    (form.get('birthday')?.touched || form.get('birthday')?.dirty)
                }"
              >
            </div>
            <div class="col-md-5">
              <label class="form-label">Αρχείο</label>
              <input type="file" class="form-control" formControlName="file">
            </div>
            <div class="col-md-1 d-flex flex-column align-items-center">
              <button type="button" class="btn btn-outline-danger mt-4" (click)="removeQualification(i)" *ngIf="form.get('qualifications')['length'] > 1">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="!readOnlyMode" type="button" class="btn btn-outline-primary" (click)="addQualification()">
          <i class="bi bi-plus-circle"></i> Προσθήκη Προσόντος
        </button>
      </div>

      <!-- Finalized -->
      <div class="form-check mt-4 mb-3">
        <input class="form-check-input" type="checkbox" formControlName="finalized">
        <label class="form-check-label">Οριστικοποιημένο</label>
      </div>

      <button 
        *ngIf="!readOnlyMode"
        type="submit" 
        class="btn btn-primary" 
        (click)="onSubmit()">
        Αποθήκευση
      </button>
    </form>
  </div>
}