<div class="d-flex justify-content-between m-3">
  <span class="h5">
    @if (instructionAct === null) {
    Εισαγωγή Νέας
    } @else {
    Επεξεργασία
    }
    Εγκύκλιας Οδηγίας
  </span>
  <button type="button" class="btn-close" (click)="modalRef.dismiss()"></button>
</div>

<div class="modal-body">
  @if (instructionAct !== null) {
  <ngb-alert type="info" [dismissible]="false">
    <p>
      Έχετε επιλέξει να επεξεργαστείτε μια υπάρχουσα εγκύκλια οδηγία. Έχουν ανασυρθεί τα στοιχεία της οδηγίας και
      έχουν ανατεθεί στα αντίστοιχα πεδία.
      <strong>ΠΡΟΣΟΧΗ:</strong>
      αν επιλέξετε νέο αρχείο PDF, το παλιό αρχείο θα αντικατασταθεί! Βεβαιωθείτε πως η αλλαγή που θα κάνετε
      συμβαδίζει με τις υπάρχουσες οδηγίες που χρησιμοποιούν την εγκύκλια οδηγία που αλλάζετε!
    </p>
  </ngb-alert>
  }
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <div class="d-flex gap-3 align-items-baseline justify-content-between">
        <div class="flex-grow-1">
          <label for="instructionActType" class="form-label">
            Τύπος Πράξης:
          </label>
          <div class="d-flex flex-column justify-content-between">
            <select class="form-select" aria-label="Default select example" id="instructionActType"
              formControlName="instructionActType" [class.is-invalid]="form.controls.instructionActType.invalid">
              <option value="" disabled selected>
                Επιλέξτε Τύπο Πράξης
              </option>
              @for (actType of instructionTypes; track $index) {
                <option [ngValue]="actType">{{ actType }}</option>
              }
            </select>

            @if (form.controls.instructionActType.invalid) {
              <div class="invalid-feedback">Πρέπει να προσδιορίσετε τύπο πράξης</div>
            }
          </div>
        </div>
        <!-- instructionActType -->
        <div class="flex-grow-1">
          <label for="instructionActNumber" class="form-label">
            Αριθμός Πράξης:
          </label>
          <input type="text" class="form-control" [class.is-invalid]="form.controls.instructionActNumber.invalid"
            id="instructionActNumber" formControlName="instructionActNumber" placeholder="Εισάγετε αριθμό πράξης" />
          @if (form.controls.instructionActNumber.invalid) {
            <div class="invalid-feedback">Πρέπει να εισάγετε αριθμό πράξης</div>
          }
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex gap-3 align-items-baseline">
        <div class="flex-grow-1">
          <label for="ada" class="form-label">
            ΑΔΑ:
          </label>
          <input [class.is-invalid]="form.controls.ada.invalid" type="text" class="form-control" id="ada"
            formControlName="ada" placeholder="Εισάγετε ΑΔΑ" />
          @if (form.controls.ada.invalid) {
          <div class="invalid-feedback">H μορφή του ΑΔΑ είναι ΑΒΓ4ΕΖ44ΙΚ-5ΜΝ</div>
          }
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Αρχείο PDF (16MB maximum):</label>
      <input class="form-control" [class.is-invalid]="form.controls.instructionActFile.invalid" type="file"
        (change)="selectFile($event)" />
      @if (form.controls.instructionActFile.invalid) {
      <div class="invalid-feedback">Πρέπει να μεταφορτώσετε ένα αρχείο PDF</div>
      }
      @if (hasUploadedFile() && instructionAct) {
      <ngb-alert type="info" [dismissible]="false" class="mt-2">
        Υπάρχει ήδη μεταφορτωμένο αρχείο.
      </ngb-alert>
      }
      @if (progress) {
      <div class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
          {{ progress }}%
        </div>
      </div>
      }
    </div>

    <button type="button" class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Υποβολή
    </button>
  </form>
</div>