<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	@if(hasHelpDeskRole() || hasEditorRole()){
		<li [ngbNavItem]="1">
			<button ngbNavLink>Ερωτήματα</button>
			<ng-template ngbNavContent>
				<app-helpdesk></app-helpdesk>
			</ng-template>
		</li>
	}
	@if (hasEditorRole()) {
		<li [ngbNavItem]="2">
			<button ngbNavLink>Υποβολή ερωτήματος</button>
			<ng-template ngbNavContent>
				<app-editors (changeTab)="changeTab($event)"></app-editors>
			</ng-template>
		</li>
	}
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>