<h1 class="govgr-heading-sm">Νομικές Πράξεις του συστήματος ΠΣΠΕΔ</h1>

<button
    class="btn btn-primary mb-2"
    (click)="newLegalAct()">
    Νέα Νομική Πράξη
</button>

<div class="govgr-body">
    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="legalActs"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="50"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        (gridReady)="onGridReady($event)"
        class="ag-theme-balham"></ag-grid-angular>
</div>
