<div class="d-flex justify-content-between m-3">
    @if (organizationalUnit) {
        <span class="h5">{{ organizationalUnit.preferredLabel }} ({{ organizationalUnit.code }})</span>
    }

    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()"></button>
</div>
<div class="modal-body">
    <span class="d-flex justify-content-center fs-5 fw-bolder mb-3">Καρτέλα Μονάδας</span>

    <div
        ngbAccordion
        [closeOthers]="false">
        <div
            ngbAccordionItem
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Δεδομένα Απογραφής</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Φορέας',
                                value: organizationPrefferedLabel(organizationalUnit?.organizationCode)
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Εναλλακτικές Ονομασίες',
                                value: organizationalUnit?.alternativeLabels
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Σκοπός',
                                value: descriptionMap(organizationalUnit?.purpose)
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Προϊστάμενη μονάδα',
                                value: organizationUnitPrefferedLabel(organizationalUnit?.supervisorUnitCode)
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Τύπος Μονάδας',
                                value: organizationalUnit?.description
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Αναγνωριστικό Μονάδας',
                                value: organizationalUnit?.identifier
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Email Μονάδας',
                                value: organizationalUnit?.email
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Τηλέφωνο Μονάδας',
                                value: organizationalUnit?.telephone
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Ταχυδρομική Διεύθυνση',
                                value: organizationalUnit?.mainAddress?.fullAddress
                            }"></app-card-row-right-left>
                        <app-card-row-right-left
                            [keyValue]="{
                                key: 'Δευτερεύουσες Διευθύνσεις',
                                value: fullAddressMap(organizationalUnit?.secondaryAddresses)
                            }"></app-card-row-right-left>
                        <div class="d-flex justify-content-end">
                            <span>
                                <sup>*</sup>
                                Δεν υπάρχουν δεδομένα στην Απογραφή
                            </span>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- end of nbgAccordionItem -->
        <div
            ngbAccordionItem
            [collapsed]="true">
            <h2 nbgAccordionHeader>
                <button ngbAccordionButton>Αρμοδιότητες Μονάδας στο ΠΣΠΕΔ</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="d-flex flex-column gap-2">
                            <div
                                class="d-flex justify-content-between"
                                *ngIf="canEdit(organizationalUnit.code)">
                                @if (!organizationalUnitRemitsFinalized) {
                                    <button
                                        (click)="newRemit()"
                                        class="btn btn-primary"
                                        style="max-width: fit-content">
                                        Νέα Αρμοδιότητα
                                    </button>
                                    <button
                                        *ngIf="remits?.length > 0"
                                        (click)="setRemitsFinalized(true)"
                                        class="btn btn-info"
                                        style="max-width: fit-content">
                                        Ολοκλήρωση Αρμοδιοτήτων
                                    </button>
                                } @else {
                                    <button
                                        (click)="setRemitsFinalized(false)"
                                        class="btn btn-info"
                                        style="max-width: fit-content">
                                        Αναίρεση Ολοκλήρωσης Αρμοδιοτήτων
                                    </button>
                                }
                            </div>
                            @if (remits?.length > 0) {
                                <table class="table table-striped">
                                    <tbody>
                                        @for (remit of remits; track remit) {
                                            <tr>
                                                <td
                                                    class="d-flex flex-column gap-2"
                                                    [ngClass]="{
                                                        'bg-warning': remit.status === 'ΑΝΕΝΕΡΓΗ'
                                                    }">
                                                    <div [innerHTML]="remit.remitText"></div>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td class="fw-semibold">Τύπος Αρμοδιότητας</td>
                                                            <td class="fw-semibold">Λειτουργική Περιοχή COFOG</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ remit.remitType }}</td>
                                                            <td>{{ getCofogNames(remit.cofog)[0] }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fw-semibold">Λειτουργικός Τομέας COFOG</td>
                                                            <td class="fw-semibold">Θεματική Περιοχή COFOG</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ getCofogNames(remit.cofog)[1] }}</td>
                                                            <td>{{ getCofogNames(remit.cofog)[2] }}</td>
                                                        </tr>
                                                    </table>
                                                    <app-list-legal-provisions
                                                        [legalProvisions]="
                                                            remit.legalProvisions
                                                        "></app-list-legal-provisions>
                                                    <button
                                                        (click)="updateRemit(remit)"
                                                        class="btn btn-primary btn-sm"
                                                        style="max-width: fit-content">
                                                        Τροποποίηση
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            } @else {
                                <ngb-alert
                                    type="info"
                                    [dismissible]="false">
                                    Προς το παρόν δεν υπάρχουν καταχωρημένες αρμοδιότητες για τη μονάδα
                                </ngb-alert>
                            }
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- end of nbgAccordionItem -->
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="modalRef.close()">
        Επιστροφή
    </button>
</div>
