<div class="d-flex justify-content-between m-3">
    <span class="h5">Κυτίο Βοήθειας</span>
    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()">
    </button>
</div>
<div class="modal-body">
    <span class="d-flex justify-content-between fs-5 fw-bolder mb-3">Στοιχεία Χρήστη</span>
    <div class="mb-3 mt-3 p-2">
        @if (question) {
            <p><strong>Ηλεκτρονική διεύθυνση:</strong> {{question.email}}</p>
            <p><strong>Όνομα:</strong> {{question.firstName}}</p>
            <p><strong>Επίθετο:</strong> {{question.lastName}}</p>
            <p><strong>Φορείς:</strong> {{organizationPreferedLabel.join()}}</p>
        }
    </div>
    <span class="d-flex justify-content-between fs-5 fw-bolder mb-3">Στοιχεία Ερωτήματος</span>
    <div class="mb-3 p-2">
        @if (question) {
            <p><strong>Τίτλος:</strong> {{question.questionTitle}}</p>
           
            <table class="table table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ερώτημα</th>
                        <th>Απάντηση</th>
                        <th>Ημερ. ερωτήματος</th>
                        <th>Ημερ. απάντησης</th>
                        <th>Χρήστης</th>
                        <th>Επεξεργασία</th>
                    </tr>
                </thead>
                <tbody>
                    @for (q of question.questions; track q; let i = $index) {
                    <tr>
                        <td>{{i + 1}}</td>
                        <td><span [innerHTML]="sanitizeHtml(q.questionText)"></span></td>
                        <td><span [innerHTML]="sanitizeHtml(q.answerText)"></span></td>
                        <td>{{q.whenAsked['$date'] | date: "dd-MM-yyyy HH:mm:ss"}}</td>
                        @if (q.whenAnswered) {
                            <td>{{q.whenAnswered['$date'] | date: "dd-MM-yyyy HH:mm:ss"}}</td>
                        } @else {
                            <td>{{q.whenAnswered}}</td>
                        }
                        <td>{{q.fromWhom }}</td>
                        
                        <td class="d-flex gap-2 fs-5">
                            @if (q.answered) {
                                <i class="bi bi-pencil-square text-success"  title="Απαντήθηκε"></i>
                            } @else {
                                <i class="bi bi-pencil-square text-danger" role="button" (click)="answerQuestion(q.id)" title="Δεν απαντήθηκε"></i>
                            }
                            @if (q.published) {
                                <i class="bi bi-instagram text-success" role="button"  title="Δημοσιεύθηκε" (click)="publishQuestion(q.id, q.published)"></i>
                            } @else {
                                <i class="bi bi-instagram text-danger" role="button"  title="Δεν δημοσιεύθηκε" (click)="publishQuestion(q.id, q.published)"></i>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
           
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                @if(showForm){
                    <div class="mb-3">
                        <label
                            for="answerText"
                            class="form-label">
                            <strong>Απάντηση:</strong>
                        </label>
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu
                                [editor]="editor"
                                [toolbar]="toolbar">
                            </ngx-editor-menu>
                            <ngx-editor
                                [editor]="editor"
                                id="answerText"
                                formControlName = "answerText"
                                (ngModelChange)="onAnswerTextChange($event)">
                            </ngx-editor>
                        </div>
                    </div>
                }
                <div class="d-flex align-items-center justify-content-between gap-2 mb-3">
                    <button
                        type="button"
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="form.invalid">
                        Υποβολή
                    </button>
                    @if(hasHelpDeskRole()){
                        <button
                            type="button"
                            class="btn btn-success"
                            (click)="finalizeConversation()">
                            @if (question.finalized) {
                                Άνοιγμα συνομιλίας
                            } @else {
                                Ολοκλήρωση συνομιλίας
                            }
                        </button>
                    }
                </div>
            </form>
        }
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="modalRef.close()">
        Επιστροφή
    </button>
</div>
