<div class="d-flex justify-content-between m-3">
  @if (question) {
    <span class="h5">Συνομιλία {{ question.key }}</span>
  }
    <button
        type="button"
        class="btn-close"
        (click)="modalRef.dismiss()">
    </button>
</div>
<div class="modal-body">
    <span class="d-flex justify-content-between fs-5 fw-bolder mb-3">Στοιχεία Χρήστη</span>
    <div class="mb-3 mt-3 p-2">
        @if (question) {
            <p><strong>Ηλεκτρονική διεύθυνση:</strong> {{question.email}}</p>
            <p><strong>Όνομα:</strong> {{question.firstName}}</p>
            <p><strong>Επίθετο:</strong> {{question.lastName}}</p>
            <p><strong>Φορείς:</strong> {{organizationPreferedLabel.join()}}</p>
        }
    </div>
    <span class="d-flex justify-content-between fs-5 fw-bolder mb-3">Στοιχεία Συνομιλίας</span>
    <div class="mb-3 p-2">
        @if (question) {
            <div class="mb-2"><strong>Τίτλος Συνομιλίας:</strong> {{question.questionTitle}}</div>
            <div class="mb-2"><strong>Κατηγορία Συνομιλίας:</strong> {{question.questionCategory}}</div>
            <ol class="list-group list-group-numbered mb-2">
                @for (q of question.questions; track q; let i = $index) {
                    <li class="list-group-item d-flex justify-content-between align-items-start"> 
                        <div class="ms-2 me-auto">
                            <span class="fw-bold" [innerHTML]="sanitizeHtml(q.questionText)"></span>
                            @if(q.questionFile){
                                <div>
                                    <strong>Αρχείο ερωτήματος:</strong>
                                    <i class="bi bi-file-earmark-pdf fs-4" role="button" (click)="displayPDF(q.questionFile['$oid'])"></i>
                                </div>
                            }
                            <div><strong>Ημερ. ερωτήματος:</strong> {{q.whenAsked['$date'] | date: "dd-MM-yyyy HH:mm:ss"}}</div>
                            <div>
                                <strong>Ημερ. απάντησης:</strong> 
                                @if (q.whenAnswered) {
                                    {{q.whenAnswered['$date'] | date: "dd-MM-yyyy HH:mm:ss"}}
                                } @else {
                                    {{q.whenAnswered}}
                                }
                            </div>
                            <div><strong>Χειριστής Helpdesk:</strong> {{q.fromWhom }}</div>
                            @if(q.answerFile){
                                <div>
                                    <strong>Αρχείο απάντησης:</strong>
                                    <i class="bi bi-file-earmark-pdf fs-4" role="button" (click)="displayPDF(q.answerFile['$oid'])"></i>
                                </div>
                            }
                            <div class="mt-2 bg-light" [innerHTML]="sanitizeHtml(q.answerText)"></div>
                        </div>
                        <div *ngIf="hasHelpDeskRole()" class="d-flex gap-2 fs-5">
                            @if (!q.answered && hasHelpDeskRole()) {
                                <i class="bi bi-pencil-square text-danger" role="button" (click)="answerQuestion(q.id)" ngbTooltip="Δεν απαντήθηκε"></i>
                            }
                            @if (q.published) {
                                <i class="bi bi-instagram text-success" role="button"  ngbTooltip="Δημοσιεύθηκε" (click)="publishQuestion(q.id, q.published)"></i>
                            } @else {
                                <i class="bi bi-instagram text-danger" role="button"  ngbTooltip="Δεν δημοσιεύθηκε" (click)="publishQuestion(q.id, q.published)"></i>
                            }
                        </div>
                    </li>
                }
            </ol>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                @if(showForm){
                    <div class="mb-3">
                        <label
                            for="answerText"
                            class="form-label">
                            <strong>Απάντηση:</strong>
                        </label>
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu
                                [editor]="editor"
                                [toolbar]="toolbar">
                            </ngx-editor-menu>
                            <ngx-editor
                                [editor]="editor"
                                id="answerText"
                                formControlName = "answerText"
                                (ngModelChange)="onAnswerTextChange($event)">
                            </ngx-editor>
                        </div>
                    </div>
                    <div class="mb-3 p-2">
                        <label class="form-label">Αρχείο PDF (16MB maximum):</label>
                        <input
                            class="form-control"
                            type="file"
                            (change)="selectFile($event)" />
                            <div class="invalid-feedback">Μπορείτε να μεταφορτώσετε ένα αρχείο PDF</div>
                        <!-- @if (hasUploadedFile()) {
                            <ngb-alert
                                type="info"
                                [dismissible]="false"
                                class="mt-2">
                                Υπάρχει ήδη μεταφορτωμένο αρχείο.
                            </ngb-alert>
                        } -->
                        @if (progress) {
                            <div class="progress mt-2">
                                <div
                                    class="progress-bar progress-bar-info"
                                    role="progressbar"
                                    attr.aria-valuenow="{{ progress }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ width: progress + '%' }">
                                    {{ progress }}%
                                </div>
                            </div>
                        }
                    </div>
                }
                <div class="d-flex align-items-center justify-content-between gap-2 mb-3">
                    <button
                        type="button"
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="form.invalid">
                        Υποβολή
                    </button>
                    @if(hasHelpDeskRole()){
                        <button
                            type="button"
                            class="btn btn-success"
                            (click)="finalizeConversation()">
                            @if (question.finalized) {
                                Άνοιγμα συνομιλίας
                            } @else {
                                Ολοκλήρωση συνομιλίας
                            }
                        </button>
                    }
                    @if(hasEditorRole()){
                      <button
                          type="button"
                          class="btn btn-primary"
                          (click)="newQuestion()">
                          Νέο ερώτημα  
                        </button>
                  }
                </div>
            </form>
        }
    </div>
</div>

<div class="d-flex justify-content-end m-3">
    <button
        ngbAutofocus
        type="button"
        class="btn btn-primary"
        (click)="modalRef.close()">
        Επιστροφή
    </button>
</div>
