<h1 class="govgr-heading-sm">Αρμοδιότητες Μονάδων του Ελληνικού Δημοσίου</h1>

<div class="d-flex justify-content-between">
  <span class="small">Ανοίξτε την καρτέλα του φορέα με διπλό κλικ πάνω στο κελί</span>
  <button (click)="resetGridState()" class="btn btn-primary btn-sm mb-2">
      Καθάρισμα φίλτρων
  </button>
</div>
<div class="d-flex justify-content-start">
  <form [formGroup]="form">
    <div class="form-check form-check-inline">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="active" 
        formControlName="active"
        (change)="onFormValueChange()"  
      >
      <label class="form-check-label" for="active">Ενεργές</label>
    </div>
    <div class="form-check form-check-inline">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="inactive" 
        formControlName="inactive"
        (change)="onFormValueChange()"   
      >
      <label class="form-check-label" for="inactive">Ανενεργές</label>
    </div>
    <div class="form-check form-check-inline">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="unassigned" 
        formControlName="unassigned"
        (change)="onFormValueChange()" 
      >
      <label class="form-check-label" for="unassigned">Μη ανατεθειμένη</label>
    </div>
  </form>
</div>
<div class="govgr-body">
  <ag-grid-angular
      [domLayout]="'autoHeight'"
      [rowData]="remits"
      [defaultColDef]="defaultColDef"
      [rowModelType]="'infinite'"
      [rowHeight]="100"
      [columnDefs]="colDefs"
      [pagination]="true"
      [paginationPageSize]="10"
      (filterChanged)="onFilterChanged()"
      (sortChanged)="onSortChanged()"
      (columnMoved)="onColumnStateChanged()"
      (columnVisible)="onColumnStateChanged()"
      (columnPinned)="onColumnStateChanged()"
      [loadingOverlayComponent]="loadingOverlayComponent"
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      (cellDoubleClicked)="onCellClicked($event)"
      (gridReady)="onGridReady($event)"
      [context]="gridContext"
      class="ag-theme-balham"></ag-grid-angular>
</div>
