
@if (loading) {
  <div class="mt-4">
    <span class="d-flex align-items-center gap-2">
      Αναμονή αποτελεσμάτων...
      <span class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </span>
  </div>
} @else { 
  <div class="mt-4">
    <h1 class="govgr-heading-sm">Αριθμητική σύγκριση πόρων μεταξύ (2) Φορέων/Μονάδων/Ακινήτων</h1>

    <button class="btn btn-primary btn-sm mb-1" (click)="onExportToExcel()">Εξαγωγή
      στοιχείων σε Excel</button>

    <div class="container mt-4" *ngIf="summary">
      <div *ngFor="let org of (summary | keyvalue)" class="mb-5">
        <h3 class="mb-3">{{ org.key }}</h3>

        <!-- Facilities -->
        <h5>{{org.value.facilities.total > 1 ? "Ακίνητα" : "Ακίνητο"}}</h5>
        <table class="table table-bordered table-sm">
          <thead class="table-light">
            <tr>
              <th>
                {{org.value.facilities.total > 1 ? "Σύνολο Ακινήτων" : ""}} 
                <span *ngIf="org.value.facilities.total > 1">({{org.value.facilities.total}})</span>
              </th>
              <th>Συνολικό Εμβαδόν {{org.value.facilities.total > 1 ? "Ακινήτων" : ""}}</th>
              <th *ngIf="org.value.facilities.total > 1">Εμβαδόν ανά Ακίνητο</th>
              <th>Χρήση Ακινήτου</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class="fw-bold">
                  <li *ngFor="let name of org.value.facilities.names">{{ name }}</li>
                </ul>
              </td>
              <td>{{ org.value.facilities.totalCoveredArea }}</td>
              <td *ngIf="org.value.facilities.total > 1">
                <ul>
                  <li *ngFor="let ca of (org.value.facilities.coveredAreas | keyvalue)">
                    <!-- {{ toInt(ca.key) + 1 }}: {{ ca.value }} -->
                      {{ ca.value }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let f of (org.value.facilities.byUse | keyvalue)">
                    {{ f.key }}: {{ f.value }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Spaces -->
        <h5>Χώροι</h5>
        <table class="table table-bordered table-sm">
          <thead class="table-light">
            <tr>
              <th>Σύνολο Χώρων</th>
              <th>Χρήση Ακινήτου</th>
              <th>Υποτύπος Ακινήτου</th>
              <th>Κύριοι Χώροι</th>
              <th>Βοηθητικοί Χώροι</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ org.value.spaces.total }}</td>
              <td>
                <ul>
                  <li *ngFor="let s of (org.value.spaces.byType | keyvalue)">
                    {{ s.key }}: {{ s.value }}
                  </li>
                </ul>
              </td>
              <td>
                @if (getKey(org.value.spaces.bySubtype)[0] !== "Unknown" ){
                  <ul>
                    <li *ngFor="let s of (org.value.spaces.bySubtype | keyvalue)">
                      @if(s.key!="Unknown") {
                        {{ s.key }}: {{ s.value }}
                      }
                    </li>
                  </ul>
                }
              </td>
              <td>
                <ul>
                  <li *ngFor="let s of (org.value.spaces.bySpace | keyvalue)">
                    {{ s.key }}: {{ s.value }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let s of (org.value.spaces.byAuxiliary | keyvalue)">
                    {{ s.key }}: {{ s.value }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Equipments -->
        <h5>Εξοπλισμός</h5>
        <table class="table table-bordered table-sm">
          <thead class="table-light">
            <tr>
              <th>Σύνολο εξοπλισμού</th>
              <th>Κατηγορία</th>
              <th>Υποκατηγορία</th>
              <th>Είδος</th>
              <th>Τύπος</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ org.value.equipments.total }}</td>
              <td>
                <ul>
                  <li *ngFor="let e of (org.value.equipments.byCategory | keyvalue)">
                    {{ e.key }}: {{ e.value }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let e of (org.value.equipments.bySubcategory | keyvalue)">
                    {{ e.key }}: {{ e.value }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let e of (org.value.equipments.byKind | keyvalue)">
                    {{ e.key }}: {{ e.value }}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let e of (org.value.equipments.byType | keyvalue)">
                    {{ e.key }}: {{ e.value }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
}