<div class="govgr-body mt-3">

    <div class="d-flex align-items-center gap-2 mb-3">
        <!-- <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportCSV()">Εξαγωγή σε CSV</button> -->
        <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExportExcel()">Εξαγωγή σε Excel</button>
        @if (loading) {
            <span class="d-flex align-items-center gap-2">
                Αναμονή αποτελεσμάτων...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        }
    </div>

    @if (elasticData.facilities && elasticData.facilities.length){
      <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Στοιχεία Ακινήτων</h1>
      <ag-grid-angular
          [domLayout]="'autoHeight'"
          [rowData]="elasticData.facilities"
          [defaultColDef]="defaultColDef"
          [columnDefs]="colDefs_Facilities"
          [pagination]="true"
          [paginationPageSize]="20"
          [loadingOverlayComponent]="loadingOverlayComponent"
          [loadingOverlayComponentParams]="loadingOverlayComponentParams"
          (gridReady)="onGridReadyFacilities($event)"
          (cellDoubleClicked)="onCellFacilityClicked($event)"
          class="ag-theme-balham">
      </ag-grid-angular>
    }

    @if (elasticData.spaces && elasticData.spaces.length) {
      <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Στοιχεία Χώρων Ακινήτων</h1>
      <ag-grid-angular
          [domLayout]="'autoHeight'"
          [rowData]="elasticData.spaces"
          [defaultColDef]="defaultColDef"
          [columnDefs]="colDefs_Spaces"
          [pagination]="true"
          [paginationPageSize]="20"
          [loadingOverlayComponent]="loadingOverlayComponent"
          [loadingOverlayComponentParams]="loadingOverlayComponentParams"
          (gridReady)="onGridReadySpaces($event)"
          (cellDoubleClicked)="onCellSpaceClicked($event)"
          class="ag-theme-balham">
      </ag-grid-angular>
    }

    @if (elasticData.equipment && elasticData.equipment.length) {
      <h1 class="govgr-heading-sm bg-secondary-subtle text-center">Στοιχεία Πόρων</h1>
      <ag-grid-angular
          [domLayout]="'autoHeight'"
          [rowData]="elasticData.equipment"
          [defaultColDef]="defaultColDef"
          [columnDefs]="colDefs_Equipments"
          [pagination]="true"
          [paginationPageSize]="20"
          [loadingOverlayComponent]="loadingOverlayComponent"
          [loadingOverlayComponentParams]="loadingOverlayComponentParams"
          (gridReady)="onGridReadyEquipments($event)"
          (cellDoubleClicked)="onCellEquipmentClicked($event)"
          class="ag-theme-balham">
      </ag-grid-angular>
    }
</div>


