<h1 class="govgr-heading-md">Πληροφοριακό Σύστημα Πολυεπίπεδης Διακυβέρνησης</h1>

<p class="govgr-body d-flex flex-column gap-3">
    Πλατφόρμα παρακολούθησης αρμοδιοτήτων μεταξύ των φορέων του δημοσίου. 
    <br>Στα πλαίσια του έργου <em>"Καθιέρωση πολυεπίπεδης διακυβέρνησης-κατανομή αρμοδιοτήτων μεταξύ των επιπέδων της Δημόσιας Διοίκησης".</em>

    @if ((organizationsLoading$ | async) || (organizationalUnitsLoading$ | async) || (remitsLoading$ | async)) {
        <span class="d-flex align-items-center gap-2">
            Αναμονή ολοκλήρωσης συγχρονισμών ...
            <span
                class="spinner-border text-primary"
                role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </span>
        <!-- @if (organizationsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Φορέων...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        }

        @if (organizationalUnitsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Μονάδων ...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        }

        @if (remitsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Αρμοδιοτήτων ...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        } -->
    } @else {
        <p class="mt-4"><strong>O συγχρονισμός των δεδομένων ολοκληρώθηκε</strong></p>
    }
</p>