<p class="govgr-body d-flex flex-column gap-3">
    @if ((organizationsLoading$ | async) || (organizationalUnitsLoading$ | async) || (remitsLoading$ | async)) {
        <span class="d-flex align-items-center gap-2">
            Αναμονή ολοκλήρωσης συγχρονισμών ...
            <span
                class="spinner-border text-primary"
                role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </span>
        <!-- @if (organizationsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Φορέων...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        }

        @if (organizationalUnitsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Μονάδων ...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        }

        @if (remitsLoading$ | async) {
            <span class="d-flex align-items-center gap-2">
                Συγχρονισμός Αρμοδιοτήτων ...
                <span
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </span>
        } -->
    } @else {
        <p class="mt-4"><strong>O συγχρονισμός των δεδομένων ολοκληρώθηκε</strong></p>
    }

    <img
      src="/assets/img/landing-ypes_2.png"
      alt="psped logo" />
</p>