@if (hasHelpDeskRole()) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
              <span class="fw-semibold">Εισαγωγή ενημέρωσης</span>
            </div>

            <div class="mb-3 mt-3 p-2">
                <p><strong>Ηλεκτρονική διεύθυνση:</strong> {{user().email}}</p>
                <p><strong>Όνομα:</strong> {{user().firstName}}</p>
                <p><strong>Επίθετο:</strong> {{user().lastName}}</p>
            </div>

            <div class="mb-3 p-2">
                <label
                    for="title"
                    class="form-label">
                    Τίτλος ενημέρωσης:
                </label>
                <input class="form-control" type="text" id="title" formControlName="title" placeholder="Πληκτρολογείστε το τίτλο">
            </div>

            <div class="mb-3 p-2">
                <label
                    for="text"
                    class="form-label">
                    Κείμενο ενημέρωσης:
                </label>
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu
                        [editor]="editor"
                        [toolbar]="toolbar">
                    </ngx-editor-menu>
                    <ngx-editor
                        [editor]="editor"
                        id="text"
                        formControlName = "text"
                        (ngModelChange)="onTextChange($event)">
                    </ngx-editor>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2 mb-3 p-2">
                <button
                    type="button"
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="form.invalid">
                    Υποβολή
                </button>
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="resetForm()">
                    Επαναφορά
                </button>
            </div>
        </div>
    </form>  
}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between mb-2">
      <span class="fw-semibold">Ενημερώσεις</span>
    </div>

    @if (!generalInfo) {
        <div class="p-2">Δεν υπάρχουν στοιχεία</div>
    } @else {
        <ol class="list-group list-group-numbered mb-2">
            @for (item of generalInfo; track item) {
                <li class="list-group-item d-flex justify-content-between align-items-start"> 
                    <div class="ms-2 me-auto">
                        <span class="fw-bold" [innerHTML]="sanitizeHtml(item.title)"></span>
                        <div class="mt-2 bg-light" [innerHTML]="sanitizeHtml(item.text)"></div>
                    </div>
                    <div class="d-flex gap-2">
                        <div>
                            <p><span class="fw-bold">Ημερ. ενημέρωσης:</span> {{item.when['$date'] | date: "dd-MM-yyyy HH:mm:ss"}}</p>
                            <p><span class="fw-bold">Χειριστής Helpdesk:</span> {{item.email }}</p>
                        </div>
                    </div>
                </li>
            }
        </ol>
    }

</div>