<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Αναζήτηση στοιχείων</button>
		<ng-template ngbNavContent>
			<app-search-form></app-search-form>
		</ng-template>
	</li>
	<!-- <li [ngbNavItem]="2">
		<button ngbNavLink>Συγκριτικά στοιχεία</button>
		<ng-template ngbNavContent>
			<app-matrix></app-matrix>
		</ng-template>
	</li>
    <li [ngbNavItem]="3">
		<button ngbNavLink>Τυποποιημένες αναφορές</button>
		<ng-template ngbNavContent>
			<app-reports></app-reports>
		</ng-template>
	</li> -->
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
