<div class="d-flex justify-content-between m-3">
  <span class="h5">Μονάδες του Ελληνικού Δημοσίου</span>
  <button type="button" class="btn-close" (click)="modalRef.dismiss()">
  </button>
</div>

<div class="modal-body">
  <div class="mb-3 mt-3 p-2">
    <span class="d-flex justify-content-end small">Επιλέξτε τη μονάδα με διπλό κλικ πάνω σε μια γραμμή</span>

    <ag-grid-angular 
      [domLayout]="'autoHeight'" 
      [rowData]="organizationalUnits" 
      [defaultColDef]="defaultColDef"
      [columnDefs]="colDefs" 
      [pagination]="true" 
      [paginationPageSize]="20"
      [loadingOverlayComponent]="loadingOverlayComponent"
      [loadingOverlayComponentParams]="loadingOverlayComponentParams" 
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (gridReady)="onGridReady($event)" 
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
</div>

<div class="d-flex justify-content-end m-3">
  <button ngbAutofocus type="button" class="btn btn-primary" (click)="modalRef.close()">
    Επιστροφή
  </button>
</div>