<h1 class="govgr-heading-md">Ακίνητα Ελληνικού Δημοσίου</h1>

@if (hasFacilityAdminRole() || hasFacilityEditorRole()) {
  <h4 class="govgr-heading-sm">Οι προσβάσεις σας</h4>

  <p class="govgr-body">
    Στους παρακάτω πίνακες εμφανίζονται οι φορείς που έχετε πρόσβαση και οι επιτρεπτές ενέργειες.
  </p>

  <h5 class="govgr-heading-md d-flex align-items-center gap-2">
    Φορείς
    @if (!organizations) {
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    }
  </h5>

  @if (organizations.length > 0) {
  <div class="d-flex flex-column flex-lg-row gap-2">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Κωδικός</th>
          <th scope="col">Ονομασία</th>
          <th scope="col">Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        @for (organization of organizations; track organization) {
        <tr class="align-middle">
          <td>{{ organization.code }}</td>
          <td>{{ organization.preferredLabel }}</td>
          <td class="d-flex gap-2 fs-5">
            <i class="bi bi-info-circle" role="button" (click)="showOrganizationDetails(organization.code)"
              ngbTooltip="Στοιχεία Φορέα"></i>

            <i class="bi bi-building" role="button" (click)="showFacilitiesGrids(organization)"
              ngbTooltip="Εμφάνιση Ακινήτων"></i>

            <i class="bi bi-pencil-square" role="button" (click)="newFacility(organization)"
              ngbTooltip="Νέο Ακίνητο"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
    <div class="alert alert-info w-25 mb-4 text-center fw-semibold" role="alert">
      Δεν έχετε πρόσβαση σε φορείς.
    </div>
  }
}

<div class="mb-3">
  @if(showGrid) {
    <div class="d-flex justify-content-between mb-1">
      <p class="h5 mb-3">Κατάσταση Ακινήτων Φορέα</p>
   </div> 

    <ag-grid-angular 
      [domLayout]="'autoHeight'" 
      [rowData]="facilities" 
      [defaultColDef]="defaultColDef"
      [columnDefs]="facilityColDefs" 
      [pagination]="true" 
      [paginationPageSize]="20"
      [loadingOverlayComponent]="loadingOverlayComponent" 
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      (cellClicked)="onCellClicked($event)" 
      (gridReady)="onGridReady($event)" 
      class="ag-theme-balham">
    </ag-grid-angular>
  }
</div>

<div class="mb-3">
  @if(showGridSpace) {
    <div class="d-flex justify-content-between mb-1">
      <p class="h5 mb-3">Κατάσταση Χώρων Ακινήτου</p>
   </div> 

    <ag-grid-angular 
      [domLayout]="'autoHeight'" 
      [rowData]="spaces" 
      [defaultColDef]="defaultColDef"
      [columnDefs]="spaceColDefs" 
      [pagination]="true" 
      [paginationPageSize]="20"
      [loadingOverlayComponent]="loadingOverlayComponent" 
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      (cellClicked)="onCellClickedSpace($event)" 
      (gridReady)="onGridReadySpace($event)" 
      class="ag-theme-balham">
    </ag-grid-angular>
  }
</div>


<div class="mt-5 mb-5">
  @if(showForm) {
  <form [formGroup]="form">
    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Στοιχεία Φορέα:</legend>

      <div class="row mb-3">
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="organization">
        </div>

        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="organizationCode">
        </div>
      </div>

      <!-- <div class="row mb-3">
        <div class="col-sm-2">
          <button 
            type="button" 
            class="btn btn-secondary" 
            (click)="chooseOrganizationalUnit()"
          >
            Επιλογή Μονάδας
          </button>
        </div>

        <div class="col-sm-5">
          <input type="text" class="form-control" formControlName="organizationalUnit">
        </div>

        <div class="col-sm-5">
          <input type="text" class="form-control" formControlName="organizationalUnitCode">
        </div>
      </div> -->

    </fieldset>

    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Στοιχεία ακινήτου:</legend>

      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="kaek" class="form-label">
            Κωδικός Ακινήτου Εθνικού Κτηματολογίου:
          </label>
          <input 
            type="text" 
            id="kaek" 
            class="form-control" 
            formControlName="kaek"
            [class.is-invalid]="form.controls.kaek.touched && form.controls.kaek.invalid"  
          >
          @if (form.controls.kaek.touched && form.controls.kaek.invalid) {
            <div class="invalid-feedback">Δεν έχετε συμπληρώσει ΚΑΕΚ</div>
          }
        </div>

        <div class="col-sm-6">
          <label for="belongsTo" class="form-label">
            ΚΑΕΚ του Γηπέδου ως ανεξάρτητη χωρική υποδομή:
          </label>
          <input 
            type="text" 
            id="belongsTo" 
            class="form-control" 
            formControlName="belongsTo"
            [class.is-invalid]="form.controls.belongsTo.touched && form.controls.belongsTo.invalid"   
          >
          @if (form.controls.belongsTo.touched && form.controls.belongsTo.invalid) {
            <div class="invalid-feedback">Δεν έχετε συμπληρώσει ΚΑΕΚ του Γηπέδου</div>
          }
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-5">
          <label for="distinctiveNameOfFacility" class="form-label">
            Διακριτή ονομασία του ακινήτου:
          </label>
          <input 
            type="text" 
            id="distinctiveNameOfFacility" 
            class="form-control"
            formControlName="distinctiveNameOfFacility"
            [class.is-invalid]="form.controls.distinctiveNameOfFacility.touched && form.controls.distinctiveNameOfFacility.invalid"
          >
          @if (form.controls.distinctiveNameOfFacility.touched && form.controls.distinctiveNameOfFacility.invalid) {
            <div class="invalid-feedback">Δεν έχετε συμπληρώσει την ονομασία του ακινήτου</div>
          }
        </div>

        <div class="col-sm-3">
          <label for="useOfFacility" class="form-label">
            Χρήση Ακινήτου:
          </label>
          <select 
            class="form-select" 
            aria-label="Default select example" 
            id="useOfFacility"
            formControlName="useOfFacility"
            [class.is-invalid]="form.controls.useOfFacility.touched && form.controls.useOfFacility.invalid"  
          >
            <option value="" disabled selected>
              Επιλέξτε Τύπο Χρήσης
            </option>
            @for (item of USE_OF_FACILITY; track item) {
            <option [ngValue]="item">{{ item }}</option>
            }
          </select>
          @if (form.controls.useOfFacility.touched && form.controls.useOfFacility.invalid) {
            <div class="invalid-feedback">Δεν έχετε επιλέξει τύπο χρήσης</div>
          }
        </div>

        <div class="col-sm-4">
          <span>Aποκλειστική χρήση ακινήτου:</span>
          <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="uniqueUseOfFacility"
                id="UniqueUserOfFacility1"  [value]="true">
              <label class="form-check-label" for="UniqueUserOfFacility1">ΝΑΙ</label>,
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="uniqueUseOfFacility"
                id="UniqueUserOfFacility2" [value]="false">
              <label class="form-check-label" for="UniqueUserOfFacility2">ΟΧΙ</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-5">
          <label for="coveredPremisesArea" class="form-label">
            Συνολικός στεγασμένος χώρος του ακινήτου σε τ.μ:
          </label>
          <input 
            type="text" 
            id="coveredPremisesArea" 
            class="form-control" 
            formControlName="coveredPremisesArea"
            [class.is-invalid]="form.controls.coveredPremisesArea.touched && form.controls.coveredPremisesArea.invalid"  
          >
          @if (form.controls.coveredPremisesArea.touched && form.controls.coveredPremisesArea.invalid) {
            <div class="invalid-feedback">Μόνο αριθμοί ή δεκαδικοί επιτρέπονται (π.χ 5, 4.3)</div>
          }
        </div>

        <div class="col-sm-7">
          <label for="floorsOrLevels" class="form-label">
            Αριθμός ορόφων/επιπέδων του ακινήτου συμπεριλαμβανομένων ισογείου, υπογείων, ημιορόφων:
          </label>
          <input 
            type="number" 
            id="floorsOrLevels" 
            class="form-control" 
            formControlName="floorsOrLevels"
            [class.is-invalid]="form.controls.floorsOrLevels.touched && form.controls.floorsOrLevels.invalid"
          >
          @if (form.controls.floorsOrLevels.touched && form.controls.floorsOrLevels.invalid) {
            <div class="invalid-feedback">Μόνο αριθμοί επιτρέπονται (π.χ 5)</div>
          }
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Καταγραφή ορόφων:</legend>
      <div class="mb-3" formArrayName="floorPlans">
        <div *ngFor="let p of floorPlans.controls; let i = index" [formGroupName]="i">
          <div class="row g-3 mb-3">

            <div class="col-sm-2">
              <select class="form-select" aria-label="Default select example" formControlName="level"
                (change)="selectLevel($event, i)">
                <option value="" disabled selected>
                  Επιλέξτε επίπεδο
                </option>
                @for (item of FLOORPLANS; track item) {
                  <option [ngValue]="item">{{ item }}</option>
                }
              </select>
            </div>

            <div class="col-sm-2">
              @if (planFloorsNumField === 1) {
                <input type="text" class="form-control" placeholder="Επίπεδο" aria-label="num"
                formControlName="num">
              } @else if (planFloorsNumField === 2) {
                <input type="text" class="form-control" placeholder="Επίπεδο" aria-label="num"
                formControlName="num" readonly>
              } @else if (planFloorsNumField === 3) {
                <input type="text" class="form-control" max="-1" placeholder="Επίπεδο" aria-label="num"
                formControlName="num">
              } @else if (planFloorsNumField === 4) {
                <input type="text" class="form-control" placeholder="Επίπεδο" aria-label="num"
                formControlName="num" readonly>
              }
            </div>

            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Έμβαδόν ορόφου/επιπέδου σε τ.μ"
                aria-label="floor area" formControlName="floorArea">
            </div>

            <div class="col-sm-4">
              <label class="form-label">Αρχείο (PDF, DOCX, XLSX, PNG, JPEG) (16MB maximum):</label>
              <input #fileInput class="form-control" type="file" multiple (change)="selectFile($event, i)" />
              <div class="invalid-feedback">Μπορείτε να μεταφορτώσετε ένα αρχείο PDF</div>
              @if (progress) {
              <div class="progress mt-2">
                <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              }
              @if (!checkFileStatus){
              <span class="text-danger mt-2 fs-6">Λάθος τύπος αρχείου ή πολύ μεγαλό αρχείο</span>
              }
              @if(floorPlans) {
                @for (floor of floorPlans[i].controls.floorPlan; track floor){
                  >> {{floor | json}}
                  <!-- <div class="mt-2">
                    <strong>Αρχείo:</strong>
                    {{ floorPlan.get("label") | json }}
                    <span role="button" class="cursor-pointer" (click)="deleteFile(generalInfoToUpdate['_id']['$oid'],file['_id']['$oid'])">{{file['file_name']}}</span>
                    <i class="bi bi-file-x text-danger fs-6 cursor-pointer" role="button" (click)="deleteFile(generalInfoToUpdate['_id']['$oid'],file['_id']['$oid'])"></i>
                  </div> -->
                }
              }
            </div>
            <div class="col-sm-1 d-flex gap-2">
              <!-- {{floorPlans.controls[i].valid && i === floorPlans.controls.length - 1}} -->
              <button *ngIf="i === floorPlans.controls.length - 1" (click)="addFloorPlan()">
                <i class="bi bi-plus-circle text-primary fs-5"></i>
              </button>
              <button *ngIf="floorPlans.controls.length > 1" (click)="removeFloorPlan(i)">
                <i class="bi bi-x-square text-danger fs-5"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Στοιχεία διεύθυνσης ακινήτου:</legend>
      <div formGroupName="addressOfFacility">
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Οδός" 
              aria-label="street" 
              formControlName="street"
              [class.is-invalid]="form.controls.addressOfFacility.controls.street.touched && form.controls.addressOfFacility.controls.street.invalid"  
            >
            @if (form.controls.addressOfFacility.controls.street.touched && form.controls.addressOfFacility.controls.street.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει οδό</div>
            }
          </div>
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Αριθμός" 
              aria-label="number" 
              formControlName="number"
              [class.is-invalid]="form.controls.addressOfFacility.controls.number.touched && form.controls.addressOfFacility.controls.number.invalid"
            >
            @if (form.controls.addressOfFacility.controls.number.touched && form.controls.addressOfFacility.controls.number.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει αριθμό</div>
            }
          </div>
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="ΤΚ" 
              aria-label="postcode" 
              formControlName="postcode"
              [class.is-invalid]="form.controls.addressOfFacility.controls.postcode.touched && form.controls.addressOfFacility.controls.postcode.invalid"  
            >
            @if (form.controls.addressOfFacility.controls.postcode.touched && form.controls.addressOfFacility.controls.postcode.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει ΤΚ</div>
            }
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Τοποθεσία" 
              aria-label="area" 
              formControlName="area"
              [class.is-invalid]="form.controls.addressOfFacility.controls.area.touched && form.controls.addressOfFacility.controls.area.invalid"  
            >
            @if (form.controls.addressOfFacility.controls.area.touched && form.controls.addressOfFacility.controls.area.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει τοποθεσία</div>
            }
          </div>
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Δήμος" 
              aria-label="municipality"
              formControlName="municipality"
              [class.is-invalid]="form.controls.addressOfFacility.controls.municipality.touched && form.controls.addressOfFacility.controls.municipality.invalid" 
            >
            @if (form.controls.addressOfFacility.controls.municipality.touched && form.controls.addressOfFacility.controls.municipality.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει δήμο</div>
            }
          </div>
          <div class="col-sm-4">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Γεωγραφική Περιφέρεια" 
              aria-label="geographic region"
              formControlName="geographicRegion"
              [class.is-invalid]="form.controls.addressOfFacility.controls.geographicRegion.touched && form.controls.addressOfFacility.controls.geographicRegion.invalid"  
            >
             @if (form.controls.addressOfFacility.controls.geographicRegion.touched && form.controls.addressOfFacility.controls.geographicRegion.invalid) {
              <div class="invalid-feedback">Δεν έχετε εισάγει γεωγραφική περιφέρεια</div>
            }
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Χώρα" aria-label="country" formControlName="country">
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group border p-3 mb-3">
      <legend class="w-auto">Ολοκλήρωση καταχώρησης ακινήτου και των επιμέρους χώρων:</legend>
        <div class="row row-cols-lg-auto g-3 align-items-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="finalized"
              id="finalized1" [value]="true">
            <label class="form-check-label" for="finalized1">ΝΑΙ</label>,
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="finalized"
              id="finalized2" [value]="false">
            <label class="form-check-label" for="finalized2">ΟΧΙ</label>
          </div>
        </div>
    </fieldset>

    <div class="d-flex gap-2">
      <button
        type="button" 
        class="btn btn-primary"
        [disabled]="form.invalid"
        (click)="submitForm()"
      >
        Υποβολή
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="resetForm()">
          Καθάρισμα
      </button>
    </div>
  </form>
  }
</div>