<h1 class="govgr-heading-md">Έλεγχος πρόσβασης</h1>

@if (loading()) {
  <span class="d-flex align-items-center gap-2 mb-5">
    Αναμονή αυθεντικοποίησης...
    <span class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </span>
  </span>
}

<div *ngIf="!user()" class="govgr-body">
  @if(enableGoogleAuth) {
    <p>Στην εκπαιδευτική πλατφορμα η πρόσβαση στο σύστημα είναι δυνατή μόνο από εξουσιοδοτημένους  χρήστες με τη χρήση του Google account τους. Χρησιμοποιήστε τον παρακάτω σύνδεσμο για να συνδεθείτε.</p>
    <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
  } @else {
    <strong>[Ενημέρωση (Disclaimer) για την προστασία των προσωπικών δεδομένων</strong>
    <p>Η είσοδός σας στο ΠΣ ΠΕΔ διενεργείται με σκοπό την υλοποίηση των προβλέψεων του Ν. 5013/2023 (ΦΕΚ12/Α/19-01-2023) για την εφαρμογή του συστήματος Πολυεπίπεδης Διακυβέρνησης, καθώς και της δευτερογενούς νομοθεσίας όπως κάθε φορά ισχύει.</p> 
    <p>Μέσω του συστήματος εξουσιοδότησης χρηστών οριζόντιων πληροφοριακών συστημάτων, έχετε οριστεί από τον Προϊστάμενο Προσωπικού/Διοικητικού του Φορέα σας ως υπεύθυνος χρήστης (ρόλος feeder) για την εισαγωγή και επικαιροποίηση των κάτωθι οργανωσιακών στοιχείων του Φορέα σας:</p>
    <ul>
      <li>Τη σύσταση ή/και αποστολή/σκοπό του Φορέα σας.</li>
      <li>Τις προβλέψεις για τη σύσταση ή/και σκοπό/στόχους των Μονάδων του Φορέα σας.</li>
      <li>Τις Αρμοδιότητες των μονάδων του Φορέα σας.</li>
      <li>Τις Νομικές Πράξεις και τις επιμέρους διατάξεις που προβλέπουν τα ανωτέρω.</li> 
    </ul>
    <p>Σε εφαρμογή του ανωτέρω πλαισίου, είναι αναγκαία η είσοδος στο σύστημα κατόπιν αυθεντικοποίησης με τη χρήση της Υπηρεσίας αυθεντικοποίησης υπαλλήλων των Φορέων με την χρήση Κωδικών Δημόσιας Διοίκησης (oAuth2.0.PA) και την επαλήθευση της ταυτότητας μέσω του φορολογικού μητρώου του συστήματος taxis, τα οποία παρέχονται από τη ΓΓΠΣΨΔ του ΥΨΗΔ στο ΠΣ ΠΕΔ, ως ολοκληρωμένες υπηρεσίες.</p>
    <p>Κατά τη διαδικασία αυθεντικοποίησης επιστρέφουν στο ΠΣ ΠΕΔ τα εξής δεδομένα του χρήστη:</p> 
    <ul> 
      <li>Όνομα</li>
      <li>Επώνυμο</li>
      <li>Username</li>
      <li>Πατρώνυμο</li>
      <li>Μητρώνυμο</li>
      <li>ΑΦΜ</li>
      <li>Έτος</li>
    </ul>
    <p>Από τα ανωτέρω δεδομένα, στο ΠΣ ΠΕΔ τηρούνται μόνο το [Όνομα, Επώνυμο,Πατρώνυμο,Μητρώνυμο,ΑΦΜ] ώστε να αναγνωρίζεται με μοναδικό τρόπο ο κάθε χρήστης. Τα υπόλοιπα στοιχεία [Username, Έτος] απορρίπτονται αμέσως από το λογισμικό και δεν τηρούνται από το ΠΣ ΠΕΔ.</p> 
    
    <button class="btn btn-primary" (click)="login()">
      Είσοδος με Κωδικούς Δημόσιας Διοίκησης
    </button>
  }
</div>

<div *ngIf="user()" class="mb-5">

  <h1 class="govgr-heading-sm">Συνδέθηκε ο χρήστης <strong>{{user().name}}</strong></h1>

  <p>
    Πίνακας με τα λεκτικά των θέσεων που κατέχει ο υπάλληλος οργανωμένα ιεραρχικά με βάση την οργανική μονάδα του υπαλλήλου:
    <strong> {{ user().empOrgUnitTexts }}</strong>
  </p>
  
  <p><strong>Προσβάσεις υπαλλήλου:</strong></p>
  <ul>
    @for (role of user().roles; track role){
      <li>Ρόλος: {{role.role}}, Φορείς: {{role.foreas}}</li>
    }
  </ul>
</div>
>>{{user()}}
<div *ngIf="user().roles.length==0" class="govgr-body">
  <h1 class="govgr-heading-md">Δεν είστε πιστοποιημένος χρήστη</h1>
</div>