<!-- <h4 class="govgr-heading-md">Εισαγωγή ερωτήματος</h4> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <span class="fw-semibold">Στοιχεία Χρήστη</span>
        </div>
        <div class="mb-3 mt-3 p-2">
            <p>{{user().firstName}} {{user().lastName}} ({{user().email.split("@")[0]}})</p>
            <p><strong>Φορείς:</strong> {{organizationPreferedLabel.join()}}</p>
        </div>
        
        <div class="mb-3 p-2">
            <label
                for="questionSelect"
                class="form-label">
                Τίτλος Συνομιλίας
            </label>
           <input class="form-control" type="text" id="questionTitle" formControlName="questionTitle" placeholder="Πληκτρολογείστε τίτλο συνομιλίας">
        </div>
        <div class="mb-3 p-2">
          <select class="mb-3 form-control" type="text" id="questionCategory" formControlName="questionCategory">
            <option value="" disabled selected>Επιλεξτε κατηγορία</option>
            <option value="Προσβάσεις">Προσβάσεις</option>
            <option value="Φορείς">Φορείς</option>
            <option value="Μονάδες">Μονάδες</option>
            <option value="Αρμοδιότητες">Αρμοδιότητες</option>
            <option value="Νομικές Πράξεις">Νομικές Πράξεις</option>
            <option value="Αναζήτηση">Αναζήτηση</option>
            <option value="Helpbox">Helpbox</option>
            <option value="Είσοδος στο σύστημα">Είσοδος στο σύστημα</option>
            <option value="Άλλο">Άλλο</option>
          </select>
        </div>
        <div formGroupName="questions" class="mb-3 p-2">
            <label
                for="questionText"
                class="form-label">
                Κείμενο ερωτήματος:
            </label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu
                    [editor]="editor"
                    [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor
                    [editor]="editor"
                    id="questionText"
                    formControlName = "questionText"
                    (ngModelChange)="onQuestionTextChange($event)">
                </ngx-editor>
            </div>
        </div>
        

        <div class="mb-3 p-2">
            <label class="form-label">Αρχείο (PDF, DOCX, XLSX, PNG, JPEG) (16MB maximum):</label>
            <input
              #fileInput
              class="form-control"
              type="file"
              multiple
              (change)="selectFile($event)" />
              <div class="invalid-feedback">Μπορείτε να μεταφορτώσετε ένα αρχείο PDF</div>
            @if (progress) {
              <div class="progress mt-2">
                <div
                  class="progress-bar progress-bar-info"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
            }
            @if (!checkFileStatus){
              <span class="text-danger mt-2 fs-6">Λάθος τύπος αρχείου ή πολύ μεγαλό αρχείο</span>
            }
            <!-- @if(helpboxToUpdate) {
              @for (file of helpboxToUpdate.questions["questionFile"]; track file){
                <div class="mt-2">
                  <strong>Αρχείo:</strong>
                  <span role="button" class="cursor-pointer" (click)="deleteFile(helpboxToUpdate['_id']['$oid'],file['_id']['$oid'])">{{file['file_name']}}</span>
                  <i class="bi bi-file-x text-danger fs-6 cursor-pointer" role="button" (click)="deleteFile(helpboxToUpdate['_id']['$oid'],file['_id']['$oid'])"></i>
                </div>
              }
            } -->
        </div>

        <div class="d-flex align-items-center gap-2 mb-3 p-2">
            <button
                type="button"
                class="btn btn-primary"
                type="submit"
                [disabled]="form.invalid">
                Υποβολή
            </button>
            <button
                type="button"
                class="btn btn-danger"
                (click)="resetForm()">
                Καθαρισμός
            </button>
        </div>
    </div>
</form>

<!-- {{form.value | json}} -->
