<!-- <h4 class="govgr-heading-md">Εισαγωγή ερωτήματος</h4> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
          <span class="fw-semibold">Στοιχεία Χρήστη</span>
        </div>
        <div class="mb-3 mt-3 p-2">
            <p><strong>Ηλεκτρονική διεύθυνση:</strong> {{user().email}}</p>
            <p><strong>Όνομα:</strong> {{user().firstName}}</p>
            <p><strong>Επίθετο:</strong> {{user().lastName}}</p>
            <p><strong>Φορείς:</strong> {{organizationPreferedLabel.join()}}</p>
        </div>
        
        <div class="mb-3 p-2">
            <label
                for="questionSelect"
                class="form-label">
                Τίτλος Συνομιλίας
            </label>
            <select class="mb-3 form-control" type="text" id="questionSelect" formControlName="questionSelect" (change)="showSelectValue()">
                <option value="" disabled selected>Επιλεξτε ερώτημα</option>
                <option value="new">Νέα συνομιλία</option>
                @for (doc of notFinalized; track doc) {
                    <option value="{{doc.questionTitle}}_{{doc['_id']['$oid']}}">{{doc.questionTitle}}</option>
                }
            </select>
            @if (showInputField) {
                <input class="form-control" type="text" id="questionTitle" formControlName="questionTitle" placeholder="Πληκτρολογείστε το ερώτημα σας">
            }
        </div>
        <div formGroupName="question" class="mb-3 p-2">
            <label
                for="questionText"
                class="form-label">
                Κείμενο ερωτήματος:
            </label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu
                    [editor]="editor"
                    [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor
                    [editor]="editor"
                    id="questionText"
                    formControlName = "questionText"
                    (ngModelChange)="onQuestionTextChange($event)">
                </ngx-editor>
            </div>
        </div>
        

        <div class="mb-3 p-2">
            <label class="form-label">Αρχείο PDF (16MB maximum):</label>
            <input
                class="form-control"
                type="file"
                (change)="selectFile($event)" />
                <div class="invalid-feedback">Μπορείτε να μεταφορτώσετε ένα αρχείο PDF</div>
            @if (progress) {
                <div class="progress mt-2">
                    <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }">
                        {{ progress }}%
                    </div>
                </div>
            }
        </div>

        <div class="d-flex align-items-center gap-2 mb-3 p-2">
            <button
                type="button"
                class="btn btn-primary"
                type="submit"
                [disabled]="form.invalid">
                Υποβολή
            </button>
            <button
                type="button"
                class="btn btn-danger"
                (click)="resetForm()">
                Επαναφορά
            </button>
        </div>
    </div>
</form>

<!-- {{form.value | json}} -->
