<div class="govgr-body mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary btn-sm mb-1" (click)="onBtnExport()">Εξαγωγή στοιχείων σε CSV αρχείο</button>
    </div>
    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="data"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="50"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
        class="ag-theme-balham">
    </ag-grid-angular>
</div>

