<h1 class="govgr-heading-sm">Εμφάνιση ιστορικών στοιχείων Φορέων/Μονάδων του Ελληνικού Δημοσίου</h1>

@if (loading) {
    <span class="d-flex align-items-center gap-2">
        Αναμονή αποτελεσμάτων...
        <span
            class="spinner-border text-primary"
            role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
    </span>
}

@if(!loading){
<span class="d-flex justify-content-end small">Ανοίξτε την καρτέλα του φορέα/μονάδας με διπλό κλικ πάνω στο κελλί</span>
<ag-grid-angular
    [domLayout]="'autoHeight'"
    [rowData]="remits"
    [defaultColDef]="defaultColDef"
    [columnDefs]="colDefs"
    [pagination]="true"
    [paginationPageSize]="20"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    class="ag-theme-balham"></ag-grid-angular>
}