<div class="d-flex justify-content-between m-3">
  <span class="h5">Εισαγωγή χώρων ακινήτου</span>
  <button type="button" class="btn-close" (click)="modalRef.dismiss()">
  </button>
</div>
<div class="modal-body">
  <div class="mb-3 mt-3 p-2">
    
    <form [formGroup]="form">
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="spaceName">Διακριτή ονομασία/αριθμός του επιμέρους χώρου του ακινήτου</label>
          <input type="text" id="spaceName" class="form-control" formControlName="spaceName">
        </div>
      </div>
      
      <div class="d-flex gap-2">
      <button
        type="button" 
        class="btn btn-primary"
        [disabled]="form.invalid"
        (click)="submitForm()"
      >
        Υποβολή
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="resetForm()">
          Καθάρισμα
      </button>
    </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-end m-3">
  <button ngbAutofocus type="button" class="btn btn-primary" (click)="modalRef.close()">
    Επιστροφή
  </button>
</div>