<h1 class="govgr-heading-sm">Eρωτήματα  - Συνομιλίες με Χρήστες</h1>

<div class="d-flex justify-content-end small">
    <div>
        <span>Eπιλέξτε το συνομιλία που επιθυμείτε</span>
    </div>
</div>
<div class="govgr-body">
    <ag-grid-angular
        [domLayout]="'autoHeight'"
        [rowData]="helpbox"
        [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs"
        [pagination]="true"
        [paginationPageSize]="50"
        [loadingOverlayComponent]="loadingOverlayComponent"
        [loadingOverlayComponentParams]="loadingOverlayComponentParams"
        (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)"
        class="ag-theme-balham"></ag-grid-angular>
</div>