<div class="d-flex justify-content-between m-3">
  <span class="h5">
    @if (instructionProvision === null) {
    Εισαγωγή
    } @else {
    Επεξεργασία
    }
    Επιμερους Οδηγίας Εγκυκλίου
  </span>
  <button type="button" class="btn-close" (click)="dismiss()"></button>
</div>

<div class="modal-body">
  @if (!selectedInstructionActKey) {
  <p class="mb-4">
    Επιλέξτε αρχικά μια Εγκύκλια Οδηγία και στη συνέχεια συμπληρώστε τα στοιχεία της Εγκύκλιας Οδηγίας που θέλετε να
    εισάγετε.
  </p>
  }

  <form [formGroup]="form" class="d-flex flex-column gap-2">
    @if (selectedInstructionActKey) {
    <div class="mb-3">
      <label for="instructionActKey" class="form-label">
        Από την Εγκύκλια Οδηγία:
      </label>
      <div class="d-flex gap-2 align-items-center">
        <input type="text" class="form-control" id="instructionActKey" formControlName="instructionActKey"
          [value]="selectedInstructionActKey" readonly />

        <button class="btn btn-primary btn-small" (click)="selectInstructionAct()">
          Αλλαγή
        </button>
      </div>
    </div>
    <div class="row mb-3" formGroupName="instructionProvisionSpecs">
      <div class="col-md-4">
        <label for="arthro" class="form-label">
          Άρθρο:
        </label>
        <input type="text" class="form-control" id="arthro" formControlName="arthro" />
      </div>
      <div class="col-md-4">
        <label for="paragrafos" class="form-label">
          Παράγραφος:
        </label>
        <input type="text" class="form-control" id="paragrafos" formControlName="paragrafos" />
      </div>
      <div class="col-md-4">
        <label for="edafio" class="form-label">
          Εδάφιο:
        </label>
        <input type="text" class="form-control" id="edafio" formControlName="edafio" />
      </div>
    </div>
    <div class="row mb-3" formGroupName="instructionPages">
      <div class="col-md-6">
        <label for="arthro" class="form-label">
          Σελίδα από:
        </label>
        <input 
          type="text" 
          class="form-control" 
          [class.is-invalid]="form.get('instructionPages.from_pages')?.invalid && (form.get('instructionPages.from_pages')?.dirty || form.get('instructionPages.from_pages')?.touched)"
          id="arthro" 
          formControlName="from_pages" />
        @if (form.get('instructionPages.from_pages')?.errors?.['notInteger']) {
          <div class="invalid-feedback">Πρέπει να είναι ακέραιος αριθμός.</div>
        }
      </div>
      <div class="col-md-6">
        <label for="paragrafos" class="form-label">
          έως:
        </label>
        <input 
          type="text" 
          class="form-control" 
          [class.is-invalid]="form.get('instructionPages.to_pages')?.invalid && (form.get('instructionPages.to_pages')?.dirty || form.get('instructionPages.to_pages')?.touched)"
          id="paragrafos" 
          formControlName="to_pages" />
        @if (form.get('instructionPages.to_pages')?.errors?.['notInteger']) {
          <div class="invalid-feedback">Πρέπει να είναι ακέραιος αριθμός.</div>
        }
      </div>
    </div>
    <div>
      <label for="instructionActText" class="form-label">
        Κείμενο Εγκύκλιας Οδηγίας:
      </label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor [editor]="editor" id="instructionActText" formControlName="instructionActText"></ngx-editor>
      </div>
    </div>
    } @else {
    <div class="d-flex">
      <button type="button" class="btn btn-primary" (click)="selectInstructionAct()">
        Επιλογή Εγκύκλιας Οδηγίας
      </button>
    </div>
    }
    <div class="d-flex">
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">
        Υποβολή
      </button>
    </div>
  </form>
</div>