<div class="govgr-top">
	<div class="govgr-header">
		<div class="p-2 d-flex align-items-start align-items-lg-center justify-content-between">
			<nav class="navbar navbar-dark navbar-expand-xl">
				<div class="container-fluid">
					<div class="navbar-brand">
						<div class="d-none d-lg-inline-flex d-flex gap-2 align-items-center">
							<img class="govgr-header__logo" src="/assets/img/ethnosimow.png" alt="gov.gr logo" />
							<div class="d-flex flex-column text-white small fw-bold">
								<span>Υπουργείο Εσωτερικών</span>
							</div>
						</div>
					</div>
					<div>
						<div class="d-flex gap-2">
							<!-- @if (user() && hasEditorRole()) { -->
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<!-- } -->
							<div class="d-flex gap-2 d-lg-none align-items-center">
								<img class="govgr-header__logo" src="/assets/img/ethnosimow.png" alt="gov.gr logo" />
								<div class="d-flex flex-column text-white small fw-bold">
									<span>Υπουργείο Εσωτερικών</span>
									<span>Πολυεπίπεδη Διακυβέρνηση</span>
								</div>
							</div>
						</div>
						<!-- @if (synchronization()) { -->
						<div class="collapse navbar-collapse mt-4 mt-lg-0" id="navbarNavAltMarkup">
							<ul class="navbar-nav dropdown-menu-dark gap-lg-4">
								<li>
									<a routerLink="landingh" routerLinkActive="fw-bold" class="dropdown-item">
										<mat-icon aria-hidden="false" aria-label="home button" fontIcon="home"></mat-icon>
									</a>
								</li>
								<!-- @if(user() && hasEditorRole() && synchronization()){
								<li>
									<a routerLink="dashboard" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Προσβάσεις
									</a>
								</li>
								} -->
								<li>
									<a routerLink="search" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Αναζήτηση
									</a>
								</li>
                @if(!(organizationsLoading$ | async)){
								<li>
									<a routerLink="foreis" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Φορείς
									</a>
								</li>
                }
                @if(!(organizationalUnitsLoading$ | async)){
								<li>
									<a routerLink="monades" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Μονάδες
									</a>
								</li>
                }
                @if(!(remitsLoading$ | async)){
								<li>
									<a routerLink="armodiothtes" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Αρμοδιότητες
									</a>
								</li>
                }
								<li>
									<a routerLink="nomikes-praxeis" routerLinkActive="fw-bold" class="dropdown-item p-1">
										Νομικές Πράξεις
									</a>
								</li>
								<li *ngIf="hasFacilityAdminRole() || hasFacilityEditorRole()" class="dropdown">
									<a class="dropdown-item dropdown-toggle mt-1" data-bs-toggle="dropdown" role="button"
										aria-expanded="false">
										Πόροι Φορέων Δ.Δ
									</a>
									<ul class="dropdown-menu">
										<!-- <li><a class="dropdown-item" href="#">Εμφάνιση Στοιχείων</a></li> -->
										<li *ngIf="hasFacilityAdminRole() || hasFacilityEditorRole()">
                      <a class="dropdown-item"
                        routerLink="resources/facility" 
                        routerLinkActive="fw-bold">
                        Ακίνητα Φορέων Δ.Δ
                      </a>
                    </li>
										<li *ngIf="hasEquipmentAdminRole()|| hasEquipmentEditorRole()">
                      <a class="dropdown-item"
                        routerLink="resources/equipment" 
                        routerLinkActive="fw-bold">
                        Εξοπλισμός Φορέων Δ.Δ
                      </a>
                    </li>
										<li *ngIf="hasUserResourcesAdminRole()|| hasUserResourcesEditorRole()">
                      <a class="dropdown-item"
                        routerLink="resources/employee" 
                        routerLinkActive="fw-bold">
                        Προσωπικό Φορέων Δ.Δ
                      </a>
                    </li>
										<li *ngIf="hasFacilityAdminRole()">
                      <a class="dropdown-item"
                        routerLink="resources/equipment-admin" 
                        routerLinkActive="fw-bold">
                        Διαχείριση Ειδών Εξοπλισμού
                      </a>
                    </li>
										<li *ngIf="hasEquipmentAdminRole()">
                      <a class="dropdown-item"
                        routerLink="resources/facility-admin" 
                        routerLinkActive="fw-bold">
                        Διαχείριση Ειδών Ακινήτων
                      </a>
                    </li>
                    <li *ngIf="hasUserResourcesAdminRole()">
                      <a class="dropdown-item"
                        routerLink="resources/employee-admin" 
                        routerLinkActive="fw-bold">
                        Διαχείριση Kλάδων Προσωπικού
                      </a>
                    </li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
                      <a class="dropdown-item" 
                        routerLink="resources/search" 
                        routerLinkActive="fw-bold"
                      >
                        Αναζήτηση
                      </a>
                    </li>
									</ul>
								</li>
								<li *ngIf="hasFacilityAdminRole() || hasFacilityEditorRole()" class="dropdown">
									<a class="dropdown-item dropdown-toggle mt-1" data-bs-toggle="dropdown" role="button"
										aria-expanded="false">
										Κώδικας ΤΑ
									</a>
									<ul class="dropdown-menu">
										<!-- <li><a class="dropdown-item" href="#">Εμφάνιση Στοιχείων</a></li> -->
										<li *ngIf="hasOtaAdminRole() || hasOtaEditorRole()">
                      <a class="dropdown-item"
                        routerLink="ota/details" 
                        routerLinkActive="fw-bold">
                      	Στοιχεία Κώδικα
                      </a>
                    </li>
										<li>
                      <a class="dropdown-item" 
                        routerLink="ota/search" 
                        routerLinkActive="fw-bold"
                      >
                        Αναζήτηση
                      </a>
                    </li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- } -->
					</div>
				</div>
			</nav>
			<!-- @if (synchronization() ) { -->
			<div class="text-white mt-2 mt-lg-0">
				<app-user-info></app-user-info>
			</div>
			<!-- } -->
		</div>
	</div>
</div>