<h1 class="govgr-heading-sm">Μονάδες του Ελληνικού Δημοσίου</h1>

<span class="d-flex justify-content-end small">Ανοίξτε την καρτέλα της μονάδας με διπλό κλικ πάνω σε μια γραμμή</span>

<ag-grid-angular
    [domLayout]="'autoHeight'"
    [rowData]="monades"
    [defaultColDef]="defaultColDef"
    [columnDefs]="colDefs"
    [pagination]="true"
    [paginationPageSize]="50"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    (gridReady)="onGridReady($event)"
    class="ag-theme-balham"></ag-grid-angular>
